Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

ty:
  name: ty
  entry: uv run --no-sync ty check
  language: system

Updated cpw notebook
  nbs/palace_demo_cpw.ipynb
Due: nbclean

Fixed precommit
  src/gsim/palace/eigenmode.py
Due: ty

Set offset to cpw port and margin to zero
  nbs/palace_demo_cpw.ipynb
Due: nbclean

in surfaces that are defined by polygons with holes, remove holes via occ.cut()
  nbs/palace_qpdk_qubit_resonator.ipynb
  pyproject.toml
  src/gsim/palace/mesh/gmsh_utils.py
Due: nbclean, ty

added max_size=True option to waveport
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
Due: nbclean, ty

fixed pre-commit
  src/gsim/viz.py
Due: ty

Add offset parameter to add_port, geometry=inplane
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
Due: ty

Add offset parameter to add_port, geometry=inplane
  src/gsim/palace/ports/config.py
Due: ty

Add offset parameter to add_port, geometry=inplane
  src/gsim/palace/mesh/geometry.py
Due: ty

feat(mesh): add configurable verbosity parameter to mesh generator
  nbs/palace_demo_microstrip.py
  nbs/palace_qpdk_resonator.py
  nbs/palace_qpdk_resonator_eigenmode.py
  src/gsim/palace/mesh/generator.py
  tests/palace/palace-sim/palace.msh
  tests/palace/test_mesh_integration.py
Due: ty

Cleanup temp files
  tests/palace/palace-sim/palace.msh
Due: none

Refactor code to move common logic from DrivenSim to PalaceSimMixin
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
Due: ty

Refactor code to move common logic from DrivenSim to PalaceSimMixin
  src/gsim/palace/base.py
Due: ty

Add local non-Apptainer Palace support
  src/gsim/palace/base.py
Due: ty

Update run_local()
  src/gsim/palace/base.py
Due: ty

Fix broken notebook, add docstring in generator.py
  nbs/palace_qpdk_resonator.ipynb
  src/gsim/palace/mesh/generator.py
Due: nbclean, ty

Added notebook for qpdk eigenmode analysis. Fix EigenmodeConfig not writing correct number of modes (removed alias N)
  nbs/palace_demo_cpw_fields.ipynb
  nbs/palace_qpdk_eigenmode.ipynb
  src/gsim/palace/models/problems.py
Due: nbclean, ty

Modify gdsfactory and gdsfactoryplus dependencies
  pyproject.toml
Due: none

add sparams_path
  pyproject.toml
  src/gsim/palace/driven.py
  src/gsim/palace/results.py
  tests/palace/test_results.py
Due: ty

add code owners
  .github/CODEOWNERS
Due: none

fix pre-commit
  src/gsim/common/layered_component.py
Due: ty

fix pre-commit
  src/gsim/palace/results.py
Due: ty

save animation in folders
  pyproject.toml
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
Due: ty

feat: increase branch line coupler num_points to 300
  nbs/palace_demo_BranchLineCoupler.ipynb
Due: nbclean

ci: make docs build manual-only and sequential
  .github/workflows/docs.yml
Due: none

ci: commit executed notebooks instead of running in CI
  .gitattributes
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  nbs/meep_ybranch.ipynb
Due: nbclean

deps: update gdsfactory to ~=9.39, unpin gdsfactoryplus
  pyproject.toml
Due: none

docs: update CPW interactive notebook with plot_interactive() output
  nbs/palace_demo_cpw_interactive.ipynb
Due: nbclean

fix: show first excitation column by default in plot_interactive()
  src/gsim/palace/results.py
  tests/palace/test_results.py
Due: ty

refactor: rename palace notebooks to drop _demo prefix
  mkdocs.yml
  nbs/README.md
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_cpw.ipynb
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_interactive.ipynb
  nbs/palace_mach_zehnder.ipynb
  nbs/palace_microstrip.ipynb
Due: nbclean

feat: add plot_plotly, plot_interactive, and key filtering to Meep SParameterResult
  src/gsim/meep/models/results.py
Due: ty

chore: remove palace_cpw_interactive notebook (redundant with plot_interactive)
  mkdocs.yml
  nbs/palace_cpw_interactive.ipynb
Due: nbclean

chore: prefix non-docs notebooks with _ to distinguish from published ones
  nbs/_example.ipynb
  nbs/_fdtd_meep.ipynb
  nbs/_meep_api_styles.ipynb
  nbs/_meep_benchmark_cups.ipynb
  nbs/_meep_sbend.ipynb
  nbs/_meep_straight.ipynb
  nbs/_palace_mach_zehnder.ipynb
  nbs/_palace_qpdk_eigenmode.ipynb
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/benchmark_cups.json
  nbs/meep_crossing.ipynb
  nbs/meep_dc.ipynb
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ybranch.ipynb
  nbs/palace_cpw.ipynb
Due: nbclean

chore: remove accidentally committed untracked notebooks
  nbs/_fdtd_meep.ipynb
  nbs/_meep_benchmark_cups.ipynb
  nbs/benchmark_cups.json
Due: nbclean

docs: rebuild palace branch_line_coupler, cpw_via, and microstrip notebooks
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_cpw_via.ipynb
  nbs/palace_microstrip.ipynb
Due: nbclean

chore: notebook cleanup, renames, and meep plot methods (#90)
  mkdocs.yml
  nbs/README.md
  nbs/_example.ipynb
  nbs/_meep_api_styles.ipynb
  nbs/_meep_sbend.ipynb
  nbs/_meep_straight.ipynb
  nbs/_palace_mach_zehnder.ipynb
  nbs/_palace_qpdk_eigenmode.ipynb
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/meep_crossing.ipynb
  nbs/meep_dc.ipynb
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ybranch.ipynb
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_cpw.ipynb
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_via.ipynb
  nbs/palace_demo_cpw_interactive.ipynb
  nbs/palace_microstrip.ipynb
  src/gsim/meep/models/results.py
Due: nbclean, ty

fix comment
  src/gsim/meep/simulation.py
Due: ty

Release 0.0.13
  README.md
  pyproject.toml
  src/gsim/__init__.py
Due: ty

Path conditions:
  nbclean: any of: \.(ipynb)$
  ty: any of: \.(py)$
