Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

fix(palace): keep wave-port metadata and check port types of both halves
  src/gsim/palace/SYMMETRY.md
  src/gsim/palace/results.py
  src/gsim/palace/symmetry.py
  tests/palace/test_symmetry_post.py
Due: ty

chore: drop redundant field-loader documentation changes
  src/gsim/palace/results.py
Due: ty

docs(palace): physical RLGC in the CPW de-embedding notebook
  CHANGELOG.md
  nbs/palace_cpw_deembedding.ipynb
  tests/palace/test_cpw_notebook_validation.py
Due: nbclean, ty

feat(stack): import layer stacks from EMX process files
  CHANGELOG.md
  docs/emx_proc_import.md
  docs/zensical.toml
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/emx.py
  tests/common/data/generic_4lm.proc
  tests/common/test_emx_stack.py
Due: ty

feat(palace): modal-to-terminal transformation for multi-conductor ports
  CHANGELOG.md
  docs/api/palace.md
  docs/terminal_wave_ports.md
  docs/zensical.toml
  src/gsim/palace/__init__.py
  src/gsim/palace/terminal.py
  tests/palace/test_terminal.py
Due: ty

docs(palace): physical RLGC in the CPW de-embedding notebook (#342)
  CHANGELOG.md
  nbs/palace_cpw_deembedding.ipynb
  tests/palace/test_cpw_notebook_validation.py
Due: nbclean, ty

feat(stack): import layer stacks from EMX process files (#343)
  CHANGELOG.md
  docs/emx_proc_import.md
  docs/zensical.toml
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/emx.py
  tests/common/data/generic_4lm.proc
  tests/common/test_emx_stack.py
Due: ty

feat: send mesh metadata and input manifests
  src/gsim/fdtd/metadata.py
  src/gsim/fdtd/simulation.py
  src/gsim/fdtd/workflow.py
  src/gsim/gcloud.py
  src/gsim/hashing.py
  tests/fdtd/test_metadata.py
  tests/test_gcloud_sizing.py
  tests/test_input_manifest.py
Due: ty

fix(palace): keep complex128 return types in the terminal transform
  src/gsim/palace/terminal.py
Due: ty

fix(materials): silicon refractive index in the O-band (Li 1980)
  CHANGELOG.md
  src/gsim/common/materials/si_li_293k.py
  src/gsim/common/stack/materials.py
  src/gsim/meep/materials.py
  tests/common/test_si_oband_cauchy.py
  tests/meep/test_si_oband_cauchy_meep.py
Due: ty

chore(deps): bump pdk-schema to 0.3.0
  pyproject.toml
Due: none

fix(materials): silicon refractive index in the O-band (Li 1980) (#346)
  CHANGELOG.md
  src/gsim/common/materials/si_li_293k.py
  src/gsim/common/stack/materials.py
  src/gsim/meep/materials.py
  tests/common/test_si_oband_cauchy.py
  tests/meep/test_si_oband_cauchy_meep.py
Due: ty

chore(deps): bump pdk-schema to 0.3.0 (#347)
  pyproject.toml
Due: none

chore: release 0.7.0
  README.md
  pyproject.toml
  src/gsim/__init__.py
  tbump.toml
Due: ty

Fix type narrowing in material and source tests
  src/gsim/common/stack/materials.py
  tests/common/test_si_oband_cauchy.py
  tests/fdtd/test_runtime_compatibility.py
  tests/test_viz_mesh.py
Due: ty

Mesh component electrodes with meshwell
  docs/api/palace.md
  pyproject.toml
  src/gsim/palace/base.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/meshwell.py
  src/gsim/palace/models/solver.py
  tests/palace/test_meshwell_sheets.py
  tests/palace/test_run_local.py
Due: ty

Document optional linear initial guesses
  docs/api/palace.md
Due: none

Match mixin types to simulator fields
  src/gsim/fdtd/runtime.py
  src/gsim/palace/base.py
  src/gsim/palace/field_viz.py
Due: ty

Restore executable permissions in cached Palace runtimes
  src/gsim/palace/runtime.py
  tests/palace/test_sim_classes.py
Due: ty

Run launcher fixtures through a POSIX shell
  tests/palace/test_sim_classes.py
Due: ty

Keep MPI support files with the Palace runtime
  src/gsim/palace/runtime.py
  tests/palace/test_sim_classes.py
Due: ty

Use portable runtime launcher fixtures
  tests/palace/test_sim_classes.py
Due: ty

Limit direct-solver scaling warnings to direct backends
  src/gsim/palace/base.py
  tests/palace/test_run_local.py
Due: ty

Expose linear initial guesses in the solver setter
  src/gsim/palace/solver_settings.py
  tests/palace/test_solver_settings.py
Due: ty
