Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

Added CPW wave port support. Fixed impedance parameters.
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
Due: ty

Fixed config generation
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/ports/config.py
Due: ty

Added waveport simulation to cpw notebook.
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_cpw_waveport.ipynb
  src/gsim/palace/mesh/geometry.py
Due: nbclean, ty

Updated cpw notebook
  nbs/palace_demo_cpw.ipynb
Due: nbclean

Fixed precommit
  src/gsim/palace/eigenmode.py
Due: ty

fix: fuse overlapping same-layer surfaces before extrusion in Palace mesh
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/mesh/geometry.py
Due: nbclean, ty

fix: clamp domain boundary to waveport surfaces in Palace mesh
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
Due: nbclean, ty

Release 0.0.9
  README.md
  pyproject.toml
  src/gsim/__init__.py
Due: ty

precommit
  src/gsim/palace/ports/config.py
Due: ty

refactor: unify verbose parameter to Literal["quiet", "status", "full"]
  src/gsim/gcloud.py
  src/gsim/meep/simulation.py
  src/gsim/palace/driven.py
Due: ty

fix: update tests to use verbose="quiet" instead of verbose=False
  tests/test_gcloud_start.py
Due: ty

feat: add MeepMeshSim for GMSH mesh-based photonic simulations
  nbs/mesh_ybranch.ipynb
  src/gsim/common/mesh/__init__.py
  src/gsim/common/mesh/generator.py
  src/gsim/common/mesh/geometry.py
  src/gsim/common/mesh/gmsh_utils.py
  src/gsim/common/mesh/types.py
  src/gsim/meep/__init__.py
  src/gsim/meep/mesh_config.py
  src/gsim/meep/mesh_sim.py
  tests/common/__init__.py
  tests/common/test_mesh.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

feat: add port surfaces as physical groups in GMSH mesh
  nbs/mesh_ybranch.ipynb
  src/gsim/common/mesh/generator.py
  src/gsim/common/mesh/geometry.py
  src/gsim/meep/mesh_config.py
  src/gsim/meep/mesh_sim.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

refactor: Palace mesh now delegates to gsim.common.mesh
  docs/api.md
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
Due: ty

fix: merge same-material dielectric boxes and align XY extents
  nbs/mesh_ybranch_split_clad.ipynb
  src/gsim/common/mesh/geometry.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

fix: correct dielectric physical group assignment after mesh fragmentation
  src/gsim/common/mesh/generator.py
  src/gsim/viz.py
Due: ty

feat: add length_scale and nm mesh scaling to Meep mesh config
  src/gsim/common/mesh/generator.py
  src/gsim/meep/mesh_config.py
  src/gsim/meep/mesh_sim.py
Due: ty

refactor: convert all mesh_config.json spatial values to nanometers
  src/gsim/meep/mesh_config.py
Due: ty

docs: improve Palace config docstrings and notebook defaults
  nbs/palace_demo_BranchLineCoupler.ipynb
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_microstrip.ipynb
  nbs/palace_qpdk_resonator.ipynb
  nbs/palace_width_sweep.ipynb
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/problems.py
Due: nbclean, ty

docs: rewrite field viz notebook with top-view, cross-sections, and vector arrows
  nbs/palace_demo_cpw_fields.ipynb
Due: nbclean

docs: clean up field viz notebook and add to docs nav
  mkdocs.yml
  nbs/palace_demo_cpw_fields.ipynb
Due: nbclean

pin runtime and build dependencies to exact versions
  pyproject.toml
Due: none

feat: via volume meshing with merge and fragment-based boolean pipeline
  nbs/palace_cpw_via.ipynb
  src/gsim/common/stack/_layer_utils.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/mesh/pipeline.py
  src/gsim/palace/models/mesh.py
Due: nbclean, ty

fix: resolve type errors for ty 0.0.25 compatibility
  docs/hooks.py
  nbs/example.ipynb
  nbs/meep_api_styles.ipynb
  nbs/palace_demo_cpw_fields.ipynb
  nbs/palace_demo_mach_zehnder.ipynb
  nbs/palace_qpdk_qubit_resonator.ipynb
  nbs/palace_qpdk_resonator.ipynb
  nbs/palace_width_sweep.ipynb
  pyproject.toml
  src/gsim/common/layered_component.py
  src/gsim/common/viz/render2d.py
  src/gsim/meep/overlay.py
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/models/mesh.py
  src/gsim/viz.py
  tests/test_gcloud_start.py
Due: nbclean, ty

ci: allow pages deploy on manual workflow_dispatch
  .github/workflows/docs.yml
Due: none

ci: use release-drafter notes when publishing releases
  .github/workflows/release.yml
Due: none

Added support for single element waveports in driven simulations
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

Added new notebook for cpw waveport
  nbs/palace_demo_cpw_waveport.ipynb
  src/gsim/palace/driven.py
Due: nbclean, ty

Fixed surfaces for Waveports
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

fix: revert lumped port L/C defaults to None, only emit when user-provided
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
Due: nbclean, ty

feat: accept results dict in load_sparams and update notebooks
  nbs/palace_cpw_via.ipynb
  nbs/palace_demo_BranchLineCoupler.ipynb
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_mach_zehnder.ipynb
  nbs/palace_demo_microstrip.ipynb
  nbs/palace_qpdk_resonator.ipynb
  nbs/palace_width_sweep.ipynb
  src/gsim/palace/results.py
  tests/palace/test_results.py
Due: nbclean, ty

fix: add missing matplotlib import in qpdk resonator notebook
  nbs/palace_qpdk_resonator.ipynb
Due: nbclean

fix: set PLOTLY_RENDERER in CI instead of modifying notebook
  .github/workflows/docs.yml
  nbs/palace_demo_cpw_interactive.ipynb
Due: nbclean

fix: add substrate to stack.layers
  src/gsim/common/stack/extractor.py
Due: ty

Added CPW wave port
  src/gsim/palace/driven.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty
