Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

docs: fix broken changelog and API reference links
  .gitignore
  docs/index.md
  docs/zensical.toml
  justfile
Due: none

feat: optional palace-toolkit dep, Palace binary resolver, NaN-free field viz
  CHANGELOG.md
  nbs/palace_cpw_fields.ipynb
  pyproject.toml
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/fields.py
  src/gsim/palace/runtime.py
  src/gsim/viz.py
  tests/palace/test_fields.py
  tests/palace/test_runtime.py
Due: nbclean, ty

feat: asymmetric CPW electrode, multi-mode field viz, and improved mode results display
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  src/gsim/palace/base.py
  src/gsim/palace/field_viz.py
  src/gsim/palace/results.py
Due: nbclean, ty

feat: add per-panel colorbar, field label in title, and auto-derived colorbar label to plot_fields_2d
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  src/gsim/palace/field_viz.py
Due: nbclean, ty

fix: signed E_y colormap with diverging RdBu, centered limits, and correct axis label
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  src/gsim/palace/field_viz.py
Due: nbclean, ty

feat: add sidewall-angle staircase to 2D mode solver, LiNbO3 anisotropic
  .pre-commit-config.yaml
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  src/gsim/common/stack/materials.py
  src/gsim/meep/mode_solver.py
  src/gsim/meep/models/results.py
  src/gsim/meep/simulation.py
Due: nbclean, ty

refactor(meep): use mp.Prism for 2D sidewalls, drop staircase blocks
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  src/gsim/meep/mode_solver.py
Due: nbclean, ty

fix(meep): build geometry overlay from gsim LayerStack not PDK
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  src/gsim/meep/models/results.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: nbclean, ty

fixed auto_clim for current crowding visualization, refactored some helper functions
  nbs/palace_cpw_fields.ipynb
  src/gsim/palace/__init__.py
  src/gsim/palace/fields.py
  tests/palace/test_fields.py
  tests/palace/test_results.py
  tests/palace/test_runtime.py
  tests/palace/test_sim_classes.py
Due: nbclean, ty

WIP: transformer Palace + circulax fit notebook
  nbs/palace_transformer.ipynb
  nbs/palace_transformer.py
Due: nbclean, ty

fix: pre-commit issues in fields, __init__, runtime, and tests
  CHANGELOG.md
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_fields.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/fields.py
  src/gsim/palace/runtime.py
  tests/palace/test_results.py
  tests/palace/test_sim_classes.py
Due: nbclean, ty

fix: resolve all pre-commit failures
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/runtime.py
  tests/palace/test_results.py
  tests/palace/test_sim_classes.py
Due: ty

pinned numba version to palace-toolkit optional dependency
  pyproject.toml
Due: none

fixed tests
  src/gsim/palace/base.py
  tests/palace/test_results.py
Due: ty

removed palace-toolkit and kept palacetoolkit-palace-cpu which is a binary wheel
  pyproject.toml
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/runtime.py
  tests/palace/test_sim_classes.py
Due: ty

fixed windows test
  tests/palace/test_sim_classes.py
Due: ty

fix(nbs): migrate margin_z_above -> margin_z=(0.0,0.5) after upstream merge
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
Due: nbclean, ty

fix: remove dead z_crop check in _resolve_materials
  src/gsim/meep/simulation.py
Due: ty

refactor: migrate SOI mode solver notebook to Simulation API
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_soi.py
Due: nbclean, ty

feat(nbs): dispersive analytical validation & group index for slab modes
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_soi.py
  src/gsim/meep/models/api.py
Due: nbclean, ty

feat(meep): add cloud slab mode solver with field reconstruction
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/results.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_cloud_slab_mode.py
Due: ty

feat(meep): cloud mode solver + cross-section support
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/results.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_cloud_cross_section_mode.py
  tests/meep/test_mode_solver.py
  tickets.md
Due: ty

feat(meep): cloud mode solver context reconstruction for plot_index/plot_mode
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_soi.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  src/gsim/meep/results.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
Due: nbclean, ty

feat: add 2D TW-MZM cross-section with PN junction and CPW electrodes
  nbs/_palace_2d_twmzm.ipynb
  nbs/_palace_2d_twmzm.py
  src/gsim/palace/mesh/config_generator.py
Due: nbclean, ty

fix: resolve dielectric overlap in native 2D BoundaryMode mesh
  src/gsim/palace/mesh/generator.py
Due: ty

fix(meep): fallback to stack.layers when dielectrics is empty
  src/gsim/meep/simulation.py
Due: ty

chore(nbs): sync meep mode solver notebooks from py sources
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_soi.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
Due: nbclean, ty

fix(meep): apply sidewall_angle taper in index profile and geometry overlay
  src/gsim/meep/mode_solver.py
  src/gsim/meep/models/results.py
  src/gsim/meep/viz.py
Due: ty

chore(nbs): sync meep mode solver notebooks from py sources
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_tfln.ipynb
Due: nbclean

Add fitted equivalent circuit from EM S-parameter fit
  nbs/palace_transformer.ipynb
  nbs/palace_transformer.py
Due: nbclean, ty

fix(meep): use genuinely invalid parity in rejection test
  tests/meep/test_mode_solver.py
Due: ty

docs(meep): add mode solver notebooks (rib, soi, tfln) to docs
  .pre-commit-config.yaml
  docs/zensical.toml
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  nbs/meep_mode_solver_rib.ipynb
  nbs/meep_mode_solver_rib.py
  nbs/meep_mode_solver_soi.ipynb
  nbs/meep_mode_solver_soi.py
  nbs/meep_mode_solver_tfln.ipynb
  nbs/meep_mode_solver_tfln.py
Due: nbclean, ty

feat: add RII material card fallbacks
  pyproject.toml
  src/gsim/common/materials/__init__.py
  src/gsim/common/materials/cards.py
  src/gsim/common/materials/resolver.py
  tests/common/test_material_card_resolver.py
Due: ty

feat: add ZapFDTD artifact generation
  README.md
  docs/api/fdtd.md
  docs/index.md
  docs/zensical.toml
  src/gsim/__init__.py
  src/gsim/fdtd/__init__.py
  src/gsim/fdtd/config.py
  src/gsim/fdtd/mesh.py
  src/gsim/fdtd/mesh_validation.py
  src/gsim/fdtd/models.py
  src/gsim/fdtd/simulation.py
  tests/fdtd/__init__.py
  tests/fdtd/conftest.py
  tests/fdtd/test_config.py
  tests/fdtd/test_mesh.py
  tests/fdtd/test_simulation.py
Due: ty

feat: serialize FDTD materials from material cards
  docs/api/fdtd.md
  docs/index.md
  src/gsim/common/materials/_helpers.py
  src/gsim/common/materials/registry.py
  src/gsim/common/materials/snapshots.py
  src/gsim/fdtd/api.py
  src/gsim/fdtd/config.py
  src/gsim/fdtd/material_config.py
  src/gsim/fdtd/material_schema.py
  tests/fdtd/test_api.py
  tests/fdtd/test_config.py
  tests/fdtd/test_material_config.py
  tests/fdtd/test_simulation.py
Due: ty

feat(meep): support material card dispersion
  docs/api/meep.md
  src/gsim/meep/__init__.py
  src/gsim/meep/material_cards.py
  src/gsim/meep/materials.py
  src/gsim/meep/mode_solver.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_material_cards.py
  tests/meep/test_material_resolution.py
  tests/meep/test_mode_solver.py
  tests/meep/test_script_template.py
  tests/meep/test_simulation.py
Due: ty

refactor: use GDSFactory FDTD product name
  docs/api/fdtd.md
  src/gsim/fdtd/__init__.py
  src/gsim/fdtd/api.py
  src/gsim/fdtd/config.py
  src/gsim/fdtd/material_config.py
  src/gsim/fdtd/material_schema.py
  src/gsim/fdtd/normalization.py
  src/gsim/fdtd/results.py
  src/gsim/fdtd/runtime.py
  src/gsim/fdtd/viz.py
  tests/fdtd/test_material_config.py
  tests/fdtd/test_results.py
  tests/fdtd/test_viz.py
Due: ty

fix(meep): ignore unused plot materials
  src/gsim/meep/simulation.py
  tests/meep/test_viz_index.py
Due: ty

fix(meep): resolve only slab dielectric materials
  src/gsim/meep/simulation.py
  tests/meep/test_mode_solver.py
Due: ty

feat(materials): add Palik silica cards
  src/gsim/common/materials/__init__.py
  src/gsim/common/materials/registry.py
  src/gsim/common/materials/sio2_palik.py
  src/gsim/common/materials/snapshots.py
  tests/common/materials/test_snapshots.py
  tests/meep/test_material_cards.py
Due: ty
