Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

ty:
  name: ty
  entry: uv run --no-sync ty check
  language: system

fix: support DerivedLayer PDKs (cspdk) in meep simulation (#34)
  .github/workflows/docs.yml
  src/gsim/common/stack/_layer_utils.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: ty

docs: add branch line coupler and update microstrip notebooks
  nbs/palace_demo_BranchLineCoupler.ipynb
Due: nbclean

docs: add branch line coupler notebook to nav
  mkdocs.yml
Due: none

docs: rename width sweep nav entry to parallel simulations
  mkdocs.yml
Due: none

fix: resolve lint and type errors from planar_conductors merge
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/groups.py
Due: nbclean, ty

update notebook
  nbs/palace_demo_cpw.ipynb
Due: nbclean

fix: generate correct Palace PEC boundary format
  src/gsim/palace/mesh/config_generator.py
Due: ty

docs: auto-generate api.md from module __all__ exports
  .github/.markdownlint-cli2.yaml
  .pre-commit-config.yaml
  docs/api.md
  docs/hooks.py
  docs/index.md
  mkdocs.yml
  src/gsim/gcloud.py
  src/gsim/viz.py
Due: ty

fix: skip api.md generation when dependencies are missing
  .pre-commit-config.yaml
  docs/hooks.py
Due: ty

feat: add MeepMeshSim for GMSH mesh-based photonic simulations
  nbs/mesh_ybranch.ipynb
  src/gsim/common/mesh/__init__.py
  src/gsim/common/mesh/generator.py
  src/gsim/common/mesh/geometry.py
  src/gsim/common/mesh/gmsh_utils.py
  src/gsim/common/mesh/types.py
  src/gsim/meep/__init__.py
  src/gsim/meep/mesh_config.py
  src/gsim/meep/mesh_sim.py
  tests/common/__init__.py
  tests/common/test_mesh.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

refactor: Palace mesh now delegates to gsim.common.mesh
  docs/api.md
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
Due: ty

feat: add port surfaces as physical groups in GMSH mesh
  nbs/mesh_ybranch.ipynb
  src/gsim/common/mesh/generator.py
  src/gsim/common/mesh/geometry.py
  src/gsim/meep/mesh_config.py
  src/gsim/meep/mesh_sim.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

Add a test suite for ModalSim
  tests/palace/test_sim_classes.py
Due: ty

Try refactoring to common mesh and config backend for Palace
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/pipeline.py
Due: ty

added sapphire
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/qpdk_utils.py
Due: ty

renamed conductor to superconductor
  nbs/palace_qpdk_qubit_resonator.ipynb
  nbs/palace_qpdk_resonator.ipynb
  src/gsim/common/stack/qpdk_utils.py
  src/gsim/palace/eigenmode.py
Due: nbclean, ty

s parameters in qpdk resonator example
  nbs/palace_qpdk_resonator.ipynb
Due: nbclean

implemented boolean pipeline and graded mesh preset
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/mesh/pipeline.py
  src/gsim/palace/models/mesh.py
  tests/palace/test_mesh.py
Due: ty

adjusted frequency range
  nbs/palace_qpdk_resonator.ipynb
Due: nbclean

Change notebook to run on cloud. Fixed qpdk dependency
  nbs/palace_qpdk_resonator.ipynb
  pyproject.toml
Due: nbclean

feat: add QPDK resonator notebook to docs and fix stale version test
  mkdocs.yml
  nbs/palace_qpdk_resonator.ipynb
  tests/test_gsim.py
Due: nbclean, ty

feat: add QPDK resonator notebook to docs and fix stale version test (#43)
  mkdocs.yml
  nbs/palace_qpdk_resonator.ipynb
  tests/test_gsim.py
Due: nbclean, ty

fix: docs workflow only builds nav notebooks and tolerates failures
  .github/workflows/docs.yml
Due: none

fix: update palace_qpdk_resonator notebook
  nbs/palace_qpdk_resonator.ipynb
Due: nbclean

fix: restore volumetric conductor support and add mesh validation
  nbs/palace_demo_cpw.ipynb
  pyproject.toml
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  tests/palace/test_mesh_integration.py
Due: nbclean, ty

fix: restore volumetric conductor support and add mesh validation (#45)
  nbs/palace_demo_cpw.ipynb
  pyproject.toml
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  tests/palace/test_mesh_integration.py
Due: nbclean, ty

refactor: remove qpdk dependency from gsim
  .github/workflows/docs.yml
  docs/api.md
  nbs/palace_qpdk_qubit_resonator.ipynb
  nbs/palace_qpdk_resonator.ipynb
  pyproject.toml
  src/gsim/common/__init__.py
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/qpdk_utils.py
  src/gsim/viz.py
Due: nbclean, ty

feat: add auto-generated release notes to GitHub releases
  .github/release.yml
  .github/workflows/release.yml
Due: none

feat(mesh): add configurable verbosity parameter to mesh generator
  src/gsim/palace/mesh/generator.py
  tests/palace/palace-sim/palace.msh
  tests/palace/test_mesh_integration.py
Due: ty

Refactor code to move common logic from DrivenSim to PalaceSimMixin
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
Due: ty

Refactor code to move common logic from DrivenSim to PalaceSimMixin
  src/gsim/palace/base.py
Due: ty

Add local non-Apptainer Palace support
  src/gsim/palace/base.py
Due: ty

fix: correct dielectric physical group assignment after mesh fragmentation
  src/gsim/common/mesh/generator.py
  src/gsim/palace/mesh/groups.py
  src/gsim/viz.py
Due: ty

fix: merge same-material dielectric boxes and align XY extents
  nbs/mesh_ybranch_split_clad.ipynb
  src/gsim/common/mesh/geometry.py
  tests/meep/test_mesh_sim.py
Due: nbclean, ty

Added CPW wave port
  src/gsim/palace/driven.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

Added support for single element waveports in driven simulations
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

Added new notebook for cpw waveport
  nbs/palace_demo_cpw_waveport.ipynb
  src/gsim/palace/driven.py
Due: nbclean, ty

Fixed surfaces for Waveports
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

Path conditions:
  nbclean: any of: \.(ipynb)$
  ty: any of: \.(py)$
