Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

fix: reorder pyproject.toml sections to satisfy tombi-format
  pyproject.toml
Due: none

set_periodic_mesh now discovers opposite boundary fragments
  src/gsim/palace/mesh/gmsh_utils.py
Due: ty

Added test notebook with mzm and IHP
  nbs/_palace_mach_zehnder.ipynb
  nbs/palace_mzm_ihp.ipynb
Due: nbclean

added periodic-mesh floquet-eigenvalue solver option
  nbs/palace_mzm.ipynb
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/models/problems.py
  tests/palace/test_sim_classes.py
  tests/palace/test_workflow.py
Due: nbclean, ty

Cleanup of old layers
  nbs/palace_mzm.ipynb
Due: nbclean

Fixed precommit
  nbs/palace_cpw_fields.py
Due: ty

Deleted companion .py file of already deleted mzm notebook
  nbs/_palace_mach_zehnder.py
Due: ty

Regenerated data for mesh regression due to geometry changes
  tests/palace/test_mesh_regression/test_branch_line_coupler_mesh.yml
  tests/palace/test_mesh_regression/test_cpw_via_transition_mesh.yml
  tests/palace/test_mesh_regression/test_cpw_waveport_mesh.yml
  tests/palace/test_mesh_regression/test_microstrip_mesh.yml
Due: none

fix(test): restore PEC block tests as xfail instead of skip
  tests/palace/test_mesh_integration.py
Due: ty

refactor: remove refractive_index/extinction_coeff from material API
  nbs/meep_crossing.ipynb
  nbs/meep_crossing.py
  nbs/palace_microstrip.ipynb
  nbs/palace_microstrip.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/overlays.py
  src/gsim/meep/materials.py
  src/gsim/meep/models/config.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/common/test_materials_dispersion.py
  tests/meep/test_material_resolution.py
  tests/meep/test_meep_models.py
Due: nbclean, ty

refactor: replace thickness<5um heuristic with dielectric-box coverage check
  src/gsim/palace/mesh/geometry.py
Due: ty

feat: frequency-dependent material dispersion with validity ranges
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/overlays.py
  src/gsim/meep/materials.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/simulation.py
  src/gsim/palace/mesh/config_generator.py
  tests/common/test_materials_dispersion.py
  tests/common/test_overlays.py
Due: ty

feat: add Simulation.run_local() for meep, fix dispersion test bounds
  src/gsim/meep/simulation.py
  tests/palace/test_config_dispersion.py
Due: ty

feat: wire PDK overlay into three-tier material resolution
  src/gsim/common/stack/materials.py
  src/gsim/meep/materials.py
  src/gsim/meep/simulation.py
  tests/common/test_materials_dispersion.py
Due: ty

fix: update dispersion tests for MEEP-sourced SiO2/Ge coefficients
  tests/common/test_materials_dispersion.py
  tests/meep/test_material_resolution.py
Due: ty

feat: populate anisotropic tensor fields in MEEP material resolution
  src/gsim/meep/materials.py
  tests/meep/test_material_resolution.py
Due: ty

fix: pre-commit lint issues (cp1252, line length, docstrings, ruff)
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/overlays.py
  src/gsim/meep/materials.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/simulation.py
  tests/common/test_materials_dispersion.py
  tests/common/test_overlays.py
Due: ty

fix: skip conductors in MEEP optical resolution, add germanium
  src/gsim/common/stack/materials.py
  src/gsim/meep/materials.py
Due: ty

fix(mesh): handle stale shared tags in boolean pipeline priority cuts
  src/gsim/palace/mesh/gmsh_utils.py
Due: ty

improved search for palace executable and better defaults in run_local
  src/gsim/palace/base.py
  tests/palace/test_run_local.py
Due: ty

fix(palace): remove unused stack capping paths
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/extractor.py
  src/gsim/palace/base.py
  tests/palace/test_sim_classes.py
Due: ty

fixed precommit, and addd covergae
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  tests/palace/test_curved_meshing_pipeline.py
  tests/palace/test_sim_classes.py
Due: ty

fixed pre-commit
  src/gsim/palace/mesh/geometry.py
  tests/palace/test_curved_meshing_pipeline.py
  tests/palace/test_mesh_regression/test_cpw_waveport_mesh.yml
Due: ty

fix(mesh): skip exterior dielectric surfaces from mesh refinement
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  tests/palace/test_mesh.py
  tests/palace/test_mesh_regression/test_branch_line_coupler_mesh.yml
  tests/palace/test_mesh_regression/test_cpw_via_transition_mesh.yml
  tests/palace/test_mesh_regression/test_microstrip_mesh.yml
  tests/palace/test_patterned_dielectrics.py
Due: ty

docs(nbs): add justfile nbrun recipe and update resonator notebook
  justfile
  nbs/_meep_straight.ipynb
  nbs/_meep_straight.py
  nbs/palace_qpdk_resonator.ipynb
  nbs/palace_qpdk_resonator.py
Due: nbclean, ty

fix(palace): clean up airbox pipeline and waveport max_size bounds
  src/gsim/common/stack/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  tests/palace/test_mesh.py
  tests/palace/test_sim_classes.py
Due: ty

test(palace): refresh cpw waveport mesh regression
  tests/palace/test_mesh_regression/test_cpw_waveport_mesh.yml
Due: none

feat(meep): add interactive Plotly 2D plots with layer toggle
  src/gsim/common/viz/__init__.py
  src/gsim/common/viz/render2d_interactive.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
  tests/meep/test_viz_interactive.py
Due: ty

feat(meep): add taper_sc_nc interactive FDTD sample
  justfile
  samples/__init__.py
  samples/meep_taper_sc_nc.py
Due: ty

feat(eim): implement variational effective-index method for 2D FDTD #156
  src/gsim/meep/eim.py
Due: ty

feat(eim): add 2D veim version of ybranch meep simulation #156
  nbs/meep_ybranch_veim.ipynb
  nbs/meep_ybranch_veim.py
Due: nbclean, ty

docs(eim): add ybranch veim to docs nav with 2D run outputs #156
  mkdocs.yml
  nbs/meep_ybranch_veim.ipynb
Due: nbclean

test(meep): update s-bend smoke-test reference for core-layer slice
  tests/meep/test_cloud_sbend/test_sbend.npz
Due: none

fix(palace): restore air domain in CPW test fixtures via set_airbox
  tests/_cloud_fixtures.py
Due: ty

test(palace): regenerate CPW lumped S-param reference for set_airbox domain
  tests/palace/test_cloud_driven_lumped/test_driven_cpw_lumped.npz
Due: none

Add notebook for IHP RF components meshing
  nbs/_palace_ihp_rf_devices_mesh.ipynb
  nbs/_palace_ihp_rf_devices_mesh.py
Due: nbclean, ty

fix(viz): add missing docstrings and fix ruff formatting
  src/gsim/common/viz/render2d_interactive.py
Due: ty

docs(palace): compare electrostatic cmim against IHP PDK compact model
  nbs/_palace_electrostatic.ipynb
  nbs/_palace_electrostatic.py
Due: nbclean, ty

fix(viz): use plt.colormaps.get_cmap (removed matplotlib.cm.get_cmap)
  src/gsim/common/viz/_colors.py
Due: ty

feat(meep): demo plot_2d_interactive in meep_2d notebook; hide grid by default
  nbs/meep_2d.ipynb
  nbs/meep_2d.py
  src/gsim/common/viz/render2d_interactive.py
Due: nbclean, ty
