Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

ty:
  name: ty
  entry: uv run --no-sync ty check
  language: system

fix(docs): keep FDTD examples nondispersive
  nbs/fdtd_broadband_directional_coupler.ipynb
  nbs/fdtd_directional_coupler.ipynb
  nbs/fdtd_mmi_gpdk.ipynb
  nbs/fdtd_waveguide_crossing.ipynb
Due: nbclean

feat(materials): default SiO2 to lossless Palik
  src/gsim/common/materials/registry.py
  tests/common/materials/test_snapshots.py
  tests/fdtd/test_material_config.py
  tests/fdtd/test_simulation.py
  tests/meep/test_material_resolution.py
  tests/meep/test_simulation.py
Due: ty

feat(meep): support material card dispersion
  docs/api/meep.md
  src/gsim/meep/__init__.py
  src/gsim/meep/material_cards.py
  src/gsim/meep/materials.py
  src/gsim/meep/mode_solver.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_material_cards.py
  tests/meep/test_material_resolution.py
  tests/meep/test_mode_solver.py
  tests/meep/test_script_template.py
  tests/meep/test_simulation.py
Due: ty

fix(meep): resolve only slab dielectric materials
  src/gsim/meep/simulation.py
  tests/meep/test_mode_solver.py
Due: ty

fix(meep): ignore unused plot materials
  src/gsim/meep/simulation.py
  tests/meep/test_viz_index.py
Due: ty

feat(materials): add reduced Malitson and Arosa models
  docs/api/meep.md
  src/gsim/common/materials/__init__.py
  src/gsim/common/materials/_helpers.py
  src/gsim/common/materials/registry.py
  src/gsim/common/materials/sio2_arosa.py
  src/gsim/common/materials/sio2_malitson.py
  tests/common/materials/test_snapshots.py
  tests/fdtd/test_material_config.py
  tests/fdtd/test_simulation.py
  tests/meep/test_material_cards.py
  tests/meep/test_material_resolution.py
  tests/meep/test_simulation.py
Due: ty

feat: add Palace EIC benchmarks
  docs/zensical.toml
  nbs/palace_eic_ihp_hfss.ipynb
  nbs/palace_eic_nist_cpw.ipynb
  pyproject.toml
  src/gsim/palace/base.py
  src/gsim/palace/benchmarks/__init__.py
  src/gsim/palace/benchmarks/eic_ihp.py
  src/gsim/palace/benchmarks/eic_nist.py
  src/gsim/palace/benchmarks/reference.py
  src/gsim/palace/mesh/geometry.py
  tests/data/eic/README.md
  tests/data/eic/nist/1_NP_25umgap.csv
  tests/data/eic/nist/2_YP_25umgap.csv
  tests/data/eic/nist/3_AirPDMS_25umgap.csv
  tests/data/eic/nist/4_PDMS_25umgap.csv
  tests/data/eic/nist/5b_AirChannel.csv
  tests/data/eic/nist/air_data_vs_sim.npz
  tests/palace/test_auto_sizing_integration.py
  tests/palace/test_eic_geometry.py
  tests/palace/test_eic_reference_data.py
  tests/palace/test_mesh_regression/test_cpw_waveport_mesh.yml
  tests/palace/test_sim_classes.py
  tests/test_list_docs_notebooks.py
Due: nbclean, ty

fix: cap NIST Palace benchmark mesh
  nbs/palace_eic_nist_cpw.ipynb
  src/gsim/palace/benchmarks/__init__.py
  src/gsim/palace/benchmarks/eic_nist.py
  tests/palace/test_eic_geometry.py
Due: nbclean, ty

feat: refine NIST Palace benchmark setup
  EIC_BENCHMARK_PLAN.md
  nbs/palace_eic_nist_cpw.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/benchmarks/eic_nist.py
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/models/mesh.py
  tests/palace/test_eic_geometry.py
  tests/palace/test_mesh.py
Due: nbclean, ty

feat: share interactive mesh viewer with Palace
  docs/api/common.md
  docs/api/fdtd.md
  docs/api/palace.md
  pyproject.toml
  src/gsim/common/viz/__init__.py
  src/gsim/common/viz/assets/mesh-viewer.html
  src/gsim/common/viz/gmsh.py
  src/gsim/fdtd/viz.py
  src/gsim/fdtd/workflow.py
  src/gsim/palace/base.py
  tests/common/test_gmsh_viz.py
  tests/fdtd/test_viz.py
  tests/palace/test_viz.py
Due: ty

feat: hide internal mesh groups by default
  src/gsim/common/viz/assets/mesh-viewer.html
  src/gsim/common/viz/gmsh.py
  src/gsim/fdtd/viz.py
  src/gsim/fdtd/workflow.py
  src/gsim/palace/base.py
  tests/common/test_gmsh_viz.py
  tests/fdtd/test_viz.py
  tests/palace/test_viz.py
Due: ty

feat: configure mesh viewer group styles
  docs/api/fdtd.md
  docs/api/palace.md
  src/gsim/common/viz/assets/mesh-viewer.html
  src/gsim/common/viz/gmsh.py
  src/gsim/fdtd/viz.py
  src/gsim/fdtd/workflow.py
  src/gsim/palace/base.py
  tests/common/test_gmsh_viz.py
  tests/fdtd/test_viz.py
  tests/palace/test_viz.py
Due: ty

fix: keep Palace port groups white
  docs/api/palace.md
  src/gsim/palace/base.py
  tests/palace/test_viz.py
Due: ty

feat: label mesh group dimensions
  src/gsim/common/viz/assets/mesh-viewer.html
  tests/common/test_gmsh_viz.py
Due: ty

feat(palace): emit WavePortPEC for numeric wave ports
  src/gsim/palace/mesh/config_generator.py
  tests/palace/test_waveport_pec.py
Due: ty

feat: consolidate conductor surface controls
  src/gsim/common/viz/assets/mesh-viewer.html
  tests/common/test_gmsh_viz.py
Due: ty

docs: track Palace modeling roadmap
  docs/palace-modeling-roadmap.md
  docs/zensical.toml
Due: none

Revert "docs: track Palace modeling roadmap"
  docs/palace-modeling-roadmap.md
  docs/zensical.toml
Due: none

test: add resolution 40 Meep notebook
  nbs/meep_dc_resolution_40.ipynb
Due: nbclean

docs: clean up FDTD naming
  docs/api/fdtd.md
  src/gsim/fdtd/__init__.py
  src/gsim/fdtd/api.py
  src/gsim/fdtd/normalization.py
  src/gsim/fdtd/results.py
  src/gsim/fdtd/runtime.py
  src/gsim/fdtd/viz.py
  tests/fdtd/test_results.py
  tests/fdtd/test_viz.py
Due: ty

feat(palace): expose Palace's advanced wave-port eigensolver controls
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
  tests/palace/test_waveport_eigensolver_controls.py
Due: ty

fix(nbs): use effective indices in the 2D meep notebook, not bulk ones
  nbs/meep_2d.ipynb
Due: nbclean

feat: expand optical material library
  docs/assets/plots/material-index-vs-wavelength.html
  docs/materials.md
  docs/zensical.toml
  justfile
  scripts/plot_material_indices.py
  src/gsim/common/materials/__init__.py
  src/gsim/common/materials/_helpers.py
  src/gsim/common/materials/lithium_niobate.py
  src/gsim/common/materials/registry.py
  src/gsim/common/materials/si_li_293k.py
  src/gsim/common/materials/si_salzberg.py
  src/gsim/common/materials/sin_luke.py
  src/gsim/common/materials/sio2_malitson.py
  src/gsim/common/materials/snapshots.py
  tests/common/materials/test_lithium_niobate.py
  tests/common/materials/test_registry.py
  tests/common/materials/test_snapshots.py
  tests/common/pdk/test_resolve.py
  tests/fdtd/test_simulation.py
Due: ty

test: cover temperature table validation
  tests/common/materials/test_snapshots.py
Due: ty

test: cover temperature-dependent extinction
  tests/common/materials/test_snapshots.py
Due: ty

fix(palace): type eigensolver_type as Palace's actual SolverType literal
  src/gsim/palace/base.py
  src/gsim/palace/ports/config.py
Due: ty

feat: add two-terminal EDGE port for 1-port inductor simulation
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/boundarymode.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
Due: ty

feat: add to_skrf() method to SParams class for scikit-rf conversion
  src/gsim/palace/results.py
Due: ty

updated gap ports
  src/gsim/palace/base.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
Due: ty

adding s-param data
  nbs/data/inductor/inductor_fd.s2p
  nbs/data/inductor/inductor_fd_1p.s1p
  nbs/data/inductor/inductor_td.s2p
  nbs/data/inductor/inductor_td_1p.s1p
  nbs/data/transformer/transformer_FD.s4p
Due: none

feat(palace): clarify lumped port geometries
  docs/zensical.toml
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_inductor.ipynb
  nbs/palace_inductor_port_comparison.ipynb
  nbs/palace_microstrip.ipynb
  nbs/palace_transformer.ipynb
  nbs/palace_width_sweep.ipynb
  nbs/rf_components/interleaved_transformer.ipynb
  nbs/rf_components/spiral_inductor.ipynb
  nbs/rf_components/stacked_transformer.ipynb
  nbs/rf_components/symmetric_inductor.ipynb
  src/gsim/palace/PORTS.md
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/__init__.py
  src/gsim/palace/ports/config.py
  tests/palace/test_mesh_regression.py
  tests/palace/test_port_geometry_names.py
  tests/palace/test_sim_classes.py
  tests/test_list_docs_notebooks.py
Due: nbclean, ty

fix(notebook): match original guard ring geometry
  nbs/palace_inductor_port_comparison.ipynb
Due: nbclean

added rlgc to CPW
  nbs/palace_cpw_waveport.ipynb
  src/gsim/palace/results.py
Due: nbclean, ty

fixed bug in unwrapping 800um
  nbs/palace_cpw_waveport.ipynb
Due: nbclean

wave port modifications
  src/gsim/palace/base.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
  tests/palace/test_gap_port.py
  tests/palace/test_mesh_integration.py
Due: ty

gsgsg waveport modification
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

Checkpoint Palace GSGSG MZM notebook
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

Improve Palace MZM deembedding and SAX wiring
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

Add Touchstone-backed Palace MZM cascade
  nbs/mzm_tbar_100um_6port_deembedded.s6p
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

updated palace gsgsg notebook
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

Path conditions:
  nbclean: any of: \.(ipynb)$
  ty: any of: \.(py)$
