Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$

chore: add meep-sim-* to gitignore, minor lint fixes
  .gitignore
  nbs/test-meep.ipynb
  src/gsim/common/stack/visualization.py
  src/gsim/palace/models/ports.py
Due: nbclean, ty

feat: add 2D overlay visualization, margin config, and expanded meep tests
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/common/viz/render2d.py
  src/gsim/meep/__init__.py
  src/gsim/meep/base.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

feat: add z-crop, replace run_time_factor with until_after_sources
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/meep/base.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
Due: nbclean, ty

feat: replace MarginConfig with DomainConfig, add dielectric background slabs
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/common/viz/render2d.py
  src/gsim/meep/__init__.py
  src/gsim/meep/base.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

feat: add symmetry, decay stopping, and performance optimizations
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

update
  nbs/test-meep.ipynb
Due: nbclean

fix: layer draw order and alpha for PDKs with uniform mesh_order
  src/gsim/common/viz/render2d.py
Due: ty

fix: S-parameter extraction accuracy and local test automation
  meep-pipeline-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  nbs/test_meep_local.sh
  src/gsim/common/viz/render2d.py
  src/gsim/meep/models/config.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

feat: add AccuracyConfig for subpixel averaging, polygon simplification, and verbose stepping
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
Due: nbclean, ty

feat: add dft_decay stopping mode and fix decay time cap
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
Due: nbclean, ty

fix: reduce port_margin default to 0.5 and add eigenmode debug logging
  meep-pipeline-overview.md
  nbs/test-meep.ipynb
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

feat: add server-side diagnostics and preview-only mode
  meep-pipeline-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  nbs/test_meep_local.sh
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
Due: nbclean, ty

feat: add field animation (MP4 + per-frame PNGs) during FDTD time-stepping
  meep-pipeline-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  nbs/test_meep_local.sh
  src/gsim/meep/base.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

refactor: separate set_wavelength into set_source and set_stopping
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/base.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

fix: default dft_min_run_time to 100 and remove deprecated set_wavelength stopping kwargs
  meep-pipeline-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: nbclean, ty

update test-meep notebook to match generate_meep_config.py and make results cells standalone
  nbs/test-meep.ipynb
Due: nbclean

refactor: clean up gsim.meep — remove dead code, DRY patterns, type SimConfig
  meep-pipeline-overview.md
  src/gsim/meep/base.py
  src/gsim/meep/models/config.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: ty

fix: improve animation frame plots — smaller figsize, matched colorbar height
  src/gsim/meep/script.py
Due: ty

fix: add --shm-size=1g to Docker run to prevent UCX/MPI segfault
  nbs/test_meep_local.sh
Due: none

feat: auto-compute meep_np from problem size
  meep-pipeline-overview.md
  nbs/test_meep_local.sh
  src/gsim/meep/models/config.py
  src/gsim/meep/sim.py
Due: ty

refactor: rename API for physicist-friendly naming (Step 1, JSON unchanged)
  meep-api-review.md
  nbs/generate_meep_config.py
  src/gsim/meep/__init__.py
  src/gsim/meep/base.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/config.py
  src/gsim/meep/sim.py
  tests/meep/test_meep_sim.py
Due: ty

feat: add declarative meep.Simulation API with typed physics objects
  meep-api-review.md
  meep-overview.md
  meep-pipeline-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/simulation.py
  tests/meep/test_simulation.py
Due: nbclean, ty

refactor: delete ModeMonitor, move spectral window onto ModeSource
  meep-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/simulation.py
  tests/meep/test_simulation.py
Due: nbclean, ty

chore: slim down test-meep notebook, use attribute style consistently
  meep-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
Due: nbclean, ty

refactor: remove legacy MeepSim API, add direct viz pipeline
  meep-overview.md
  nbs/generate_meep_config.py
  nbs/test-meep.ipynb
  pyproject.toml
  src/gsim/common/viz/render2d.py
  src/gsim/meep/__init__.py
  src/gsim/meep/base.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/sim.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

refactor: replace print() with logging in gsim.meep
  nbs/test-meep.ipynb
  src/gsim/meep/models/results.py
  src/gsim/meep/script.py
Due: nbclean, ty

update notebook
  nbs/test-meep.ipynb
Due: nbclean

refactor: extract build_config() as single source of truth for meep sim
  nbs/test-meep.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: nbclean, ty

chore: rename test-meep notebook, add to docs, fix concave mesh rendering
  mkdocs.yml
  nbs/meep_ybranch.ipynb
  nbs/test_meep_local.sh
  src/gsim/common/viz/render3d_open3d.py
  src/gsim/common/viz/render3d_pyvista.py
  src/gsim/meep/meep-overview.md
Due: nbclean, ty

refactor: flatten stopping variants into flat FDTD fields
  nbs/generate_meep_config.py
  nbs/meep_ybranch.ipynb
  src/gsim/meep/__init__.py
  src/gsim/meep/meep-overview.md
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/simulation.py
  tests/meep/test_simulation.py
Due: nbclean, ty

chore: add ubcpdk to docs dependencies for notebook builds
  pyproject.toml
Due: none

fdtd (#2)
  .gitignore
  mkdocs.yml
  nbs/meep_ybranch.ipynb
  pyproject.toml
  src/gsim/__init__.py
  src/gsim/common/__init__.py
  src/gsim/common/geometry_model.py
  src/gsim/common/layered_component.py
  src/gsim/common/polygon.py
  src/gsim/common/stack/extractor.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/visualization.py
  src/gsim/common/types.py
  src/gsim/common/viz/__init__.py
  src/gsim/common/viz/_colors.py
  src/gsim/common/viz/_mesh_helpers.py
  src/gsim/common/viz/render2d.py
  src/gsim/common/viz/render3d.py
  src/gsim/common/viz/render3d_open3d.py
  src/gsim/common/viz/render3d_pyvista.py
  src/gsim/common/viz/render3d_threejs.py
  src/gsim/common/viz/templates/viewer.html
  src/gsim/gcloud.py
  src/gsim/meep/__init__.py
  src/gsim/meep/materials.py
  src/gsim/meep/meep-overview.md
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/overlay.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
  src/gsim/palace/models/ports.py
  tests/meep/__init__.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

feat: callable API for MEEP models, energy_decay runner, viz refactors
  nbs/meep_ring_coupler.ipynb
  src/gsim/common/__init__.py
  src/gsim/common/stack/_layer_utils.py
  src/gsim/common/stack/extractor.py
  src/gsim/common/stack/visualization.py
  src/gsim/common/viz/__init__.py
  src/gsim/common/viz/_mesh_helpers.py
  src/gsim/common/viz/render3d.py
  src/gsim/common/viz/render3d_open3d.py
  src/gsim/common/viz/render3d_pyvista.py
  src/gsim/common/viz/render3d_threejs.py
  src/gsim/common/viz/templates/viewer.html
  src/gsim/meep/__init__.py
  src/gsim/meep/meep-overview.md
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

fix: bump ty>=0.0.15 (allowed-unresolved-imports support)
  pyproject.toml
Due: none

docs: add notebook showing callable, attribute, and constructor API styles
  nbs/meep_api_styles.ipynb
Due: nbclean

docs: add meep_ring_coupler notebook to mkdocs nav
  mkdocs.yml
Due: none

feat: default stopping to field_decay (stop_when_fields_decayed) with 95% threshold
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ybranch.ipynb
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

feat: rename stop_after → stop_after_sources, add wall-clock time limit
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ybranch.ipynb
  src/gsim/meep/meep-overview.md
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

ci: replace pull_request trigger with workflow_dispatch for docs and release
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix: separate source and monitor positions to fix 2x S-parameter error
  nbs/meep_api_styles.ipynb
  nbs/meep_ring_coupler.ipynb
  nbs/meep_sbend.ipynb
  nbs/meep_straight.ipynb
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_microstrip.ipynb
  src/gsim/gcloud.py
  src/gsim/meep/__init__.py
  src/gsim/meep/meep-overview.md
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/palace/__init__.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty
