Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mypy, nbclean

pyright:
  name: pyright
  entry: uv run --no-sync pyright
  language: system

mypy:
  name: mypy
  entry: uv run --no-sync mypy
  language: system

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

reduce verbosity
  src/gsim/gcloud.py
Due: pyright, mypy

initial fdtd
  pyproject.toml
  src/gsim/fdtd/OLD_WORKFLOW.md
  src/gsim/fdtd/README.md
  src/gsim/fdtd/__init__.py
  src/gsim/fdtd/geometry/__init__.py
  src/gsim/fdtd/geometry/core.py
  src/gsim/fdtd/geometry/render2d.py
  src/gsim/fdtd/geometry/render3d.py
  src/gsim/fdtd/materials/__init__.py
  src/gsim/fdtd/materials/database.py
  src/gsim/fdtd/materials/types.py
  src/gsim/fdtd/simulation/__init__.py
  src/gsim/fdtd/simulation/core.py
  src/gsim/fdtd/simulation/legacy.py
  src/gsim/fdtd/simulation/modes.py
  src/gsim/fdtd/simulation/results.py
  src/gsim/fdtd/templates/viewer.html
  src/gsim/fdtd/test-fdtd.ipynb
  src/gsim/fdtd/util.py
Due: pyright, mypy, nbclean

Add simulation type methods to PalaceSim (.driven(), .eigenmode(), etc.)
  .gitignore
  nbs/palace_demo_cpw.ipynb
  pyproject.toml
  src/gsim/palace/__init__.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/pipeline.py
  src/gsim/palace/models.py
  src/gsim/palace/sim.py
Due: pyright, mypy, nbclean

added initial vlsir docs
  mkdocs.yml
  pyproject.toml
  src/gsim/__init__.py
  src/gsim/vlsir/CONNECTIONs.md
  src/gsim/vlsir/METADATA_SPEC.md
  src/gsim/vlsir/SIMULATION.md
  src/gsim/vlsir/__init__.py
  src/gsim/vlsir/netlist.py
Due: pyright, mypy

added vlsir circuit netlister + hierarchical netlisting, generated some tests, updated README with just installation info, adjust pre-commit to ignore VLSIR pathologies, updated to Python >=3.12
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/gsim/vlsir/CONNECTIONs.md
  src/gsim/vlsir/METADATA_SPEC.md
  src/gsim/vlsir/SIMULATION.md
  src/gsim/vlsir/__init__.py
  src/gsim/vlsir/netlist.py
  src/gsim/vlsir/tests/test_circuit_gen.py
Due: pyright, mypy

start fixing docs
  .github/workflows/docs.yml
  .gitignore
  docs/nbs/example.md
  justfile
  nbs/example.ipynb
  pyproject.toml
Due: nbclean

Refactor Palace sim into problem-specific classes with Pydantic models
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/models.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/geometry.py
  src/gsim/palace/models/mesh.py
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/models/problems.py
  src/gsim/palace/models/results.py
  src/gsim/palace/models/stack.py
  src/gsim/palace/sim.py
Due: pyright, mypy, nbclean

Refactor Palace to use composition pattern with shared common module
  nbs/palace_demo_cpw.ipynb
  src/gsim/common/__init__.py
  src/gsim/common/geometry.py
  src/gsim/common/stack/__init__.py
  src/gsim/common/stack/extractor.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/visualization.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/pipeline.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/stack.py
  src/gsim/palace/ports/config.py
  tests/palace/test_stack.py
  tests/test_gsim.py
Due: pyright, mypy, nbclean

Add Palace CPW example docs and clean up
  docs/index.md
  docs/nbs/.gitignore
  docs/nbs/palace.md
  pyproject.toml
  src/gsim/palace/ARCHITECTURE.md
Due: none

Add enhanced mesh statistics to summary output
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/models/results.py
Due: pyright, mypy

Wire mesh_stats through simulation classes
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/pipeline.py
Due: pyright, mypy

update pyproject
  pyproject.toml
Due: none

seperate mesh and config - palace
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/TODO.md
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/pipeline.py
Due: pyright, mypy, nbclean

update notebook
  docs/nbs/.gitignore
  docs/nbs/palace.md
  nbs/palace_demo_cpw.ipynb
Due: nbclean

update pyprojet
  pyproject.toml
Due: none

add libglu1-mesa dependency for gmsh in CI
  .github/workflows/docs.yml
Due: none

add OSMesa and xvfb for headless rendering in CI
  .github/workflows/docs.yml
Due: none

add bver config to pyproject
  pyproject.toml
Due: none

deploy pages on commit
  .github/workflows/docs.yml
Due: none

Add plot_mesh method to sim classes and improve docs workflow
  mkdocs.yml
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/TODO.md
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
Due: pyright, mypy, nbclean

Add plot_mesh method to sim classes and improve docs workflow (#6)
  mkdocs.yml
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/TODO.md
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
Due: pyright, mypy, nbclean

Update microstrip notebook to new DrivenSim API and add to docs
  mkdocs.yml
  nbs/palace_demo_microstrip.ipynb
Due: nbclean

Update microstrip notebook to new DrivenSim API and add to docs (#7)
  mkdocs.yml
  nbs/palace_demo_microstrip.ipynb
Due: nbclean

Release 0.0.2
  README.md
  pyproject.toml
  src/gsim/__init__.py
Due: pyright, mypy

fix ty dep version
  pyproject.toml
Due: none

add common module for palace, break up larger modules, more unit tests
  src/gsim/palace/TODO.md
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/__init__.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  tests/palace/test_sim_classes.py
Due: pyright, mypy

add common module for palace, break up larger modules, more unit tests (#8)
  src/gsim/palace/TODO.md
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/__init__.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  tests/palace/test_sim_classes.py
Due: pyright, mypy

just dev with python 3.12
  justfile
Due: none

update gcloud to work with new gdsfactoryplus.sim API
  src/gsim/gcloud.py
Due: pyright, mypy

update gcloud to work with new gdsfactoryplus.sim API (#9)
  src/gsim/gcloud.py
Due: pyright, mypy

Fix type checking and linting issues
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_microstrip.ipynb
  pyproject.toml
  src/gsim/common/__init__.py
  src/gsim/common/stack/extractor.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/visualization.py
  src/gsim/gcloud.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/__init__.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/mesh.py
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/models/problems.py
  src/gsim/palace/models/results.py
  src/gsim/viz.py
  tests/palace/test_mesh.py
  tests/palace/test_sim_classes.py
Due: pyright, mypy, nbclean

Fix type checking and linting issues (#10)
  nbs/palace_demo_cpw.ipynb
  nbs/palace_demo_microstrip.ipynb
  pyproject.toml
  src/gsim/common/__init__.py
  src/gsim/common/stack/extractor.py
  src/gsim/common/stack/materials.py
  src/gsim/common/stack/visualization.py
  src/gsim/gcloud.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/__init__.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/mesh.py
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/models/problems.py
  src/gsim/palace/models/results.py
  src/gsim/viz.py
  tests/palace/test_mesh.py
  tests/palace/test_sim_classes.py
Due: pyright, mypy, nbclean

Release 0.0.3
  README.md
  pyproject.toml
  src/gsim/__init__.py
Due: pyright, mypy

feat: add inductor demo notebook and trame dependencies
  .gitignore
  nbs/palace_demo_inductor.ipynb
  pyproject.toml
Due: nbclean

added local simulation via apptainer and SIF file
  nbs/palace_demo_cpw.ipynb
  src/gsim/palace/driven.py
Due: pyright, mypy, nbclean

feat: add sim-data- prefix to download dir and trame dependencies
  .gitignore
  pyproject.toml
  src/gsim/gcloud.py
Due: pyright, mypy

Release 0.0.4
  README.md
  pyproject.toml
  src/gsim/__init__.py
Due: pyright, mypy

fix mkdocs config
  mkdocs.yml
Due: none

Path conditions:
  pyright: any of: \.(py)$
  mypy: any of: \.(py)$
  nbclean: any of: \.(ipynb)$
