Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

mend
  nbs/mzm_tbar_100um_6port_deembedded.s6p
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/results.py
Due: ty

updated simulation
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

fix(palace): load cloud mode fields and matching input meshes
  nbs/palace_2d_twmzm.ipynb
  src/gsim/palace/field_viz.py
  src/gsim/palace/results.py
  tests/palace/test_field_output_layouts.py
Due: nbclean, ty

test: cover PN junction and Palace boundary mode edge cases
  tests/common/test_pn_junction_edge_cases.py
  tests/fdtd/test_runtime_compatibility.py
  tests/palace/test_boundarymode_paths.py
  tests/palace/test_fine_mesh_requests.py
  tests/palace/test_mode_impedance_edge_cases.py
  tests/palace/test_run_local.py
Due: ty

docs: restore the CPW wave-port tutorial
  docs/zensical.toml
  nbs/palace_cpw_waveport.ipynb
  tests/test_list_docs_notebooks.py
Due: nbclean, ty

test(palace): cover mesh domain extent edge cases
  tests/palace/test_mesh_domain_bounds.py
Due: ty

style: format mesh domain extent tests
  tests/palace/test_mesh_domain_bounds.py
Due: ty

fix(ci): validate Codecov settings and authenticate coverage uploads
  .codecov.yml
  .github/workflows/test.yml
Due: none

docs: improve CPW wave-port sweep and notebook output
  nbs/palace_cpw_waveport.ipynb
Due: nbclean

docs: simplify wave-port tutorial and retain comparisons
  nbs/palace_cpw_waveport.ipynb
Due: nbclean

docs: run length validation in both CPW tutorials
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_waveport.ipynb
  tests/palace/test_cpw_notebook_validation.py
Due: nbclean, ty

fix(palace): honor PDK RF material cards and overrides
  docs/materials.md
  src/gsim/common/materials/rf.py
  src/gsim/common/stack/extractor.py
  src/gsim/palace/base.py
  src/gsim/palace/materials.py
  tests/palace/test_material_cards.py
Due: ty

fix(docs): accept numeric port names in CPW validation
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_waveport.ipynb
  tests/palace/test_cpw_notebook_validation.py
Due: nbclean, ty

fix(palace): preserve optical selection for dual-regime cards
  docs/materials.md
  src/gsim/palace/materials.py
  tests/palace/test_material_cards.py
Due: ty

fix: preserve mixed PDK material stacks in YAML
  src/gsim/common/stack/materials.py
  tests/palace/test_material_cards.py
Due: ty

docs: clarify CPW de-embedding and impedance references
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_waveport.ipynb
Due: nbclean

docs: separate CPW examples from de-embedding study
  docs/zensical.toml
  nbs/palace_cpw_deembedding.ipynb
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_waveport.ipynb
  tests/palace/test_cpw_notebook_validation.py
  tests/test_list_docs_notebooks.py
Due: nbclean, ty

docs: use S-parameter plotting helpers in CPW notebooks
  nbs/palace_cpw_deembedding.ipynb
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_waveport.ipynb
Due: nbclean

docs: add grids and group CPW RLGC plots
  nbs/palace_cpw_deembedding.ipynb
Due: nbclean

docs: add a 2D CPW mode comparison
  nbs/palace_cpw_deembedding.ipynb
Due: nbclean

docs: plot CPW mode heatmap and record validation follow-ups
  nbs/palace_cpw_deembedding.ipynb
Due: nbclean

docs: show CPW field arrows without a grid
  nbs/palace_cpw_deembedding.ipynb
Due: nbclean

docs: keep CPW investigation plan in the discussion
  nbs/palace_cpw_deembedding.ipynb
Due: nbclean

trying to switch to gpdk
  nbs/palace_gsgsg_waveport.ipynb
  src/gsim/palace/mesh/geometry.py
  tests/palace/test_mesh.py
Due: nbclean, ty

feat(fdtd): add focusing grating coupler examples
  nbs/fdtd_focusing_grating_coupler.ipynb
  nbs/fdtd_focusing_grating_coupler_reciprocal.ipynb
  nbs/gds/build_focusing_gc.py
Due: nbclean, ty

docs: display Palace mesh summary in lumped CPW notebook
  nbs/palace_cpw_lumped.ipynb
Due: nbclean

test(palace): cover field cycles across MFEM versions
  src/gsim/palace/results.py
  tests/palace/test_field_cycles.py
Due: ty

fix: work around Palace MPI deadlock in GSGSG notebook
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

Add Palace mesh and energy helpers
  src/gsim/palace/__init__.py
  src/gsim/palace/field_viz.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/postprocessing.py
  tests/palace/test_postprocessing.py
Due: ty

feat: drive OCC meshing through rmsh instead of the gmsh package
  pyproject.toml
  src/gsim/fdtd/mesh.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/mesh/validation.py
  tests/fdtd/test_simulation.py
  tests/palace/test_patterned_dielectrics.py
Due: ty

Fix Palace postprocessing validation
  src/gsim/palace/field_viz.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/postprocessing.py
  tests/palace/test_postprocessing.py
Due: ty

working notebook end to end
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

feat(palace): report worst element distortion in mesh summaries
  docs/api/palace.md
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/quality.py
  src/gsim/palace/models/results.py
  tests/palace/test_mesh_quality.py
Due: ty

docs: add QPDK two-qubit Palace meshing notebook
  nbs/_palace_qpdk_filled_qubit_test_chip_mesh.ipynb
  nbs/data/qpdk/two_qubit_straight_bus.pic.yml
Due: nbclean

feat(palace): report Field DOF estimates and export mesh metadata
  docs/api/palace.md
  src/gsim/palace/base.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/metadata.py
  src/gsim/palace/models/results.py
  tests/palace/test_curved_meshing_pipeline.py
  tests/palace/test_mesh_integration.py
  tests/palace/test_mesh_metadata.py
  tests/palace/test_mesh_quality.py
  tests/palace/test_sim_classes.py
Due: ty

fix(palace): preserve result caching when mesh metadata changes
  docs/api/palace.md
  src/gsim/hashing.py
  tests/test_hashing.py
Due: ty

Refine slow-wave MZM tutorial and port calibration
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

trying to make notebook more tutorial like
  nbs/palace_gsgsg_waveport.ipynb
Due: nbclean

fix(palace): export sample counts for logarithmic sweeps
  src/gsim/palace/models/problems.py
  tests/palace/test_driven_config.py
Due: ty

fix(palace): handle one-point logarithmic requests
  src/gsim/palace/models/problems.py
  tests/palace/test_driven_config.py
Due: ty
