Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$

ci: parallelize notebook execution in docs workflow
  .github/workflows/docs.yml
Due: none

uodate notebook
  nbs/meep_ring_coupler.ipynb
Due: nbclean

fix: remove bver dependency from dev recipe
  justfile
Due: none

fix: auto-call write_config() in DrivenSim.run()
  src/gsim/palace/driven.py
Due: ty

fix: suppress polling output from wait_for_simulation in notebooks
  nbs/meep_ring_coupler.ipynb
  src/gsim/gcloud.py
Due: nbclean, ty

docs: add meep DC notebook and reorganize nav into Meep/Palace sections
  mkdocs.yml
  nbs/meep_dc.ipynb
Due: nbclean

docs: add meep DC notebook and reorganize nav into Meep/Palace sections (#19)
  mkdocs.yml
  nbs/meep_dc.ipynb
Due: nbclean

fix: preserve input files and flatten output directory structure
  src/gsim/gcloud.py
  src/gsim/palace/driven.py
Due: ty

fix: preserve input files and flatten output directory structure (#22)
  src/gsim/gcloud.py
  src/gsim/palace/driven.py
Due: ty

feat: add Apache 2.0 license and limit docs CI to relevant paths
  .github/workflows/docs.yml
  LICENSE
  pyproject.toml
Due: none

feat: add FiberSource for grating coupler simulation
  nbs/meep_grating_coupler.ipynb
  pyproject.toml
  src/gsim/meep/ROADMAP.md
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

update notebook
  nbs/meep_grating_coupler.ipynb
Due: nbclean

fix: save animation frame files into frames/ subdirectory
  src/gsim/meep/script.py
Due: ty

Add multiple pre-commit hooks for various checks
  .pre-commit-config.yaml
Due: none

Add markdownlint, yamlfmt and yamllint configs
  .github/.markdownlint-cli2.yaml
  .github/.yamlfmt.yaml
  .github/.yamllint.yaml
Due: none

Use exclusively tombi for toml formatting
  .pre-commit-config.yaml
Due: none

Add a config for interrogate
  pyproject.toml
Due: none

Apply automatic pre-commit fixes
  .github/workflows/docs.yml
  .github/workflows/release.yml
  README.md
  docs/index.md
  docs/nbs/example.md
  mkdocs.yml
  src/gsim/palace/MULTI_ELEMENT_PORTS.md
  src/gsim/palace/PORTS.md
Due: none

Exclude `docs/nbs/*.md` from formatting
  .github/.markdownlint-cli2.yaml
  .pre-commit-config.yaml
Due: none

No explicit Rust install
  .github/workflows/docs.yml
Due: none

Add missing docstrings for `interrogate`
  src/gsim/common/layered_component.py
  src/gsim/common/stack/extractor.py
  src/gsim/palace/mesh/pipeline.py
  src/gsim/palace/models/results.py
  tests/meep/__init__.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: ty

Fix markdownlint error
  src/gsim/palace/PORTS.md
Due: none

Fix actionlint warnings by updating steps
  .github/workflows/release.yml
Due: none

Try fixing leftover pre-commit hooks
  .github/.markdownlint-cli2.yaml
  .pre-commit-config.yaml
Due: none

Revert changes to `docs/nbs/example.md`
  docs/nbs/example.md
Due: none

Update mdformat exclude pattern in pre-commit config
  .pre-commit-config.yaml
Due: none

Upgrade actions and change environment setup command
  .github/workflows/pre-commit.yml
Due: none

Migrate to PEP 735 dependency groups for development dependencies (#25)
  README.md
  justfile
  pyproject.toml
Due: none

first attempt at merging qpdk from palace-server. Still no double-port for cpw. Meshing resonator hangs
  nbs/palace_qpdk_qubit_resonator.ipynb
  nbs/palace_qpdk_resonator.ipynb
  src/gsim/common/__init__.py
  src/gsim/common/polygon_utils.py
  src/gsim/common/qpdk.py
  src/gsim/common/rf_layers.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/ports.py
  src/gsim/palace/ports/config.py
Due: nbclean, ty

fix: always regenerate Palace config.json and add cloud API
  nbs/palace_demo_microstrip.ipynb
  src/gsim/__init__.py
  src/gsim/gcloud.py
  src/gsim/meep/__init__.py
  src/gsim/meep/simulation.py
  src/gsim/palace/__init__.py
  src/gsim/palace/driven.py
  src/gsim/palace/models/problems.py
  tests/test_gsim.py
Due: nbclean, ty

feat: add gcloud tests and palace width sweep notebook
  nbs/palace_width_sweep.ipynb
  tests/test_gcloud_start.py
Due: nbclean, ty

docs: add palace width sweep notebook to nav
  mkdocs.yml
Due: none

docs: add palace width sweep notebook to nav (#31)
  mkdocs.yml
Due: none

Adjusted some lengths
  nbs/palace_demo_mach_zehnder.ipynb
Due: nbclean

Added ports to mzm. Also fixed small error on mesh generation
  nbs/palace_demo_mach_zehnder.ipynb
  src/gsim/palace/mesh/pipeline.py
Due: nbclean, ty

Added function to create LayerStack form a list of layers.
  nbs/palace_demo_mach_zehnder.ipynb
  src/gsim/common/stack/extractor.py
Due: nbclean, ty

Notebook of Mach Zehnder Modulator
  nbs/palace_demo_mach_zehnder.ipynb
  src/gsim/common/stack/materials.py
Due: nbclean, ty

MZM example: Merged polygons of the conductor layer. Some fixes and improvements.
  nbs/palace_demo_mach_zehnder.ipynb
  src/gsim/common/__init__.py
Due: nbclean, ty

fix: support DerivedLayer PDKs (cspdk) in meep simulation
  .github/workflows/docs.yml
  src/gsim/common/stack/_layer_utils.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: ty

feat: support polygon holes in Palace mesh generation
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
Due: ty
