Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

ty:
  name: ty
  entry: uv run --no-sync ty check
  language: system

feat(palace): add 2D boundary mode solver scaffolding
  src/gsim/common/cross_section.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/boundarymode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/cross_section.py
  src/gsim/palace/models/problems.py
  tests/common/test_cross_section.py
  tests/palace/test_boundarymode_models.py
  tests/palace/test_sim_classes.py
Due: ty

added 2d mode example in notebook cel
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_cpw_waveport.py
  src/gsim/common/cross_section.py
  src/gsim/palace/base.py
  tests/palace/test_run_local.py
Due: nbclean, ty

Fixed precommit
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_cpw_waveport.py
  src/gsim/palace/mesh/generator.py
Due: nbclean, ty

rerun after main merge, and update materials to use `Material` class #156
  nbs/meep_ybranch_veim.ipynb
Due: nbclean

Update python equivalent script accordingly #156
  nbs/meep_ybranch_veim.py
Due: ty

Refactor markdown comments and fix formatting #156
  nbs/meep_ybranch_veim.ipynb
  nbs/meep_ybranch_veim.py
Due: nbclean, ty

Fixed palace config for boundary mode
  src/gsim/palace/models/problems.py
Due: ty

restored cpw_waveport from main, created new 2d demo notebook
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  nbs/palace_cpw_waveport.ipynb
Due: nbclean, ty

implemented 2d field visualization and streamlines
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  nbs/palace_cpw_lumped.ipynb
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/field_viz.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/results.py
  tests/palace/test_field_viz.py
  tests/palace/test_mesh_integration.py
  tests/palace/test_results.py
Due: nbclean, ty

fixed size of non-air dielectric regions
  nbs/palace_2d_cpw.ipynb
  src/gsim/palace/mesh/geometry.py
  tests/palace/test_mesh.py
Due: nbclean, ty

added intrinsic impedance computation and cleaned up mode results printing
  nbs/palace_2d_cpw.ipynb
  nbs/palace_2d_cpw.py
  src/gsim/palace/results.py
  tests/palace/test_results.py
Due: nbclean, ty

docs(nbs): add mode solver example notebook
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
Due: nbclean, ty

docs(nbs): add PDK activation and graceful meep-missing guards to mode solver notebook
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
Due: nbclean, ty

fix(meep): import-guard tests mock meep, delegate test runs real solver
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  src/gsim/meep/mode_solver.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

feat(meep): add mode_z_grid, refractive_index_profile, compute_group_index
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  src/gsim/meep/__init__.py
  src/gsim/meep/mode_solver.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

fix: resolve pre-commit typing and jupytext sync issues
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_lumped.py
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_cpw_waveport.py
  src/gsim/meep/mode_solver.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

fix(mesh): silence stderr noise from uninitialized gmsh in unit tests
  src/gsim/palace/mesh/generator.py
Due: ty

refactor: remove dead two-pass group-index solver
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  src/gsim/meep/mode_solver.py
  src/gsim/meep/simulation.py
Due: nbclean, ty

style(nbs): normalize em-dash to hyphen in notebook markdown
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_lumped.py
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_cpw_waveport.py
Due: nbclean, ty

fix: resolve test failures and deprecation warnings
  src/gsim/meep/mode_solver.py
  tests/palace/test_mesh_integration.py
  tests/palace/test_workflow.py
  tests/test_viz_mesh.py
Due: ty

feat(meep): 2D XZ mode profile extraction and visualization
  .gitignore
  nbs/_meep_mode_solver.ipynb
  nbs/_meep_mode_solver.py
  src/gsim/meep/__init__.py
  src/gsim/meep/mode_solver.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

Fix site_dir — zensical rejects '..' in paths
  .github/workflows/docs.yml
  docs/zensical.toml
  justfile
Due: none

feat(docs): add dark theme toggle and gdsfactory header link
  docs/overrides/partials/source.html
  docs/zensical.toml
Due: none

test: tighten cloud sim S-param tolerances to absolute 0.01
  tests/meep/test_cloud_sbend.py
  tests/meep/test_cloud_sbend/test_sbend.npz
  tests/palace/test_cloud_driven_lumped.py
Due: ty

docs: add T-Bar CPW electrode MZM example to docs
  docs/zensical.toml
  nbs/palace_mzm.ipynb
  nbs/palace_mzm.py
Due: nbclean, ty

fix(meep): support asymmetric z_margin and absolute z-grid coords
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  src/gsim/meep/mode_solver.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

Replace ubcpdk dependency with gdsfactory.components in example notebooks
  nbs/_meep_api_styles.ipynb
  nbs/_meep_api_styles.py
  nbs/_meep_sbend.ipynb
  nbs/_meep_sbend.py
  nbs/_meep_straight.ipynb
  nbs/_meep_straight.py
  nbs/_palace_dc.ipynb
  nbs/_palace_dc.py
  nbs/_palace_straight_diel_waveguide.ipynb
  nbs/_palace_straight_diel_waveguide.py
  nbs/meep_2d.ipynb
  nbs/meep_2d.py
  nbs/meep_crossing.ipynb
  nbs/meep_crossing.py
  nbs/meep_dc.ipynb
  nbs/meep_dc.py
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ring_coupler.py
  nbs/meep_ybranch.ipynb
  nbs/meep_ybranch.py
Due: nbclean, ty

Fix jupytext sync: correct import order and double-prefix in meep_2d
  nbs/_palace_dc.ipynb
  nbs/meep_2d.ipynb
Due: nbclean

refactor(mode-solver): require explicit y_span/x_span for port path
  nbs/_meep_mode_solver_rib.ipynb
  nbs/_meep_mode_solver_rib.py
  nbs/_meep_mode_solver_tfln.ipynb
  nbs/_meep_mode_solver_tfln.py
  src/gsim/meep/mode_solver.py
  src/gsim/meep/simulation.py
  tests/meep/conftest.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

feat(mode-solver): add ModeSolver model, solve_modes(), ModeSweepResult
  nbs/_meep_mode_solver_soi.ipynb
  nbs/_meep_mode_solver_soi.py
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/results.py
  src/gsim/meep/simulation.py
  tests/meep/test_mode_solver.py
Due: nbclean, ty

feat(meep): add plot_mode/plot_index to ModeResult
  pyproject.toml
  src/gsim/meep/mode_solver.py
  src/gsim/meep/models/results.py
  src/gsim/meep/results.py
  tests/meep/test_mode_result_plots.py
  tests/meep/test_mode_solver.py
  tests/meep/test_mode_sweep_plots.py
Due: ty

fix(meep): default margin_z_above and margin_z_below to 0.0
  src/gsim/meep/models/api.py
Due: ty

fix: notebook rendering — LaTeX math delimiters and widget outputs
  nbs/_palace_dc.ipynb
  nbs/_palace_electrostatic.ipynb
  nbs/_palace_mzm.ipynb
  nbs/_palace_straight_diel_waveguide.ipynb
  nbs/palace_inductor.ipynb
  nbs/palace_inductor.py
  nbs/palace_qpdk_resonator.ipynb
Due: nbclean, ty

Release 0.1.0
  .github/.markdownlint-cli2.yaml
  CHANGELOG.md
  README.md
  docs/zensical.toml
  pyproject.toml
  src/gsim/__init__.py
Due: ty

feat(meep): sim-mode API (mode+cuts) and domain.z_ref vertical crop
  nbs/_meep_api_styles.ipynb
  nbs/_meep_api_styles.py
  nbs/_meep_sbend.ipynb
  nbs/_meep_sbend.py
  nbs/_meep_straight.ipynb
  nbs/_meep_straight.py
  nbs/meep_2d.ipynb
  nbs/meep_2d.py
  nbs/meep_2d_xz_gc.ipynb
  nbs/meep_2d_xz_gc.py
  nbs/meep_crossing.ipynb
  nbs/meep_crossing.py
  nbs/meep_dc.ipynb
  nbs/meep_dc.py
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ring_coupler.py
  nbs/meep_ybranch.ipynb
  nbs/meep_ybranch.py
  src/gsim/meep/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/ports.py
  src/gsim/meep/simulation.py
  tests/_cloud_fixtures.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
  tests/meep/test_viz_interactive.py
  tests/meep/test_viz_xz.py
  tests/meep/test_xz_2d.py
Due: nbclean, ty

feat(meep): per-axis domain margins (margin_x/y/z)
  nbs/_meep_api_styles.ipynb
  nbs/_meep_api_styles.py
  nbs/_meep_sbend.ipynb
  nbs/_meep_sbend.py
  nbs/_meep_straight.ipynb
  nbs/_meep_straight.py
  nbs/meep_2d.ipynb
  nbs/meep_2d.py
  nbs/meep_2d_xz_gc.ipynb
  nbs/meep_2d_xz_gc.py
  nbs/meep_crossing.ipynb
  nbs/meep_crossing.py
  nbs/meep_dc.ipynb
  nbs/meep_dc.py
  nbs/meep_ring_coupler.ipynb
  nbs/meep_ring_coupler.py
  nbs/meep_ybranch.ipynb
  nbs/meep_ybranch.py
  src/gsim/meep/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
  tests/meep/test_workflow.py
  tests/meep/test_xz_2d.py
Due: nbclean, ty

fix(meep): migrate cloud test fixtures to per-axis margin API
  tests/_cloud_fixtures.py
Due: ty

test(palace): make _setup_mesh_fields tests hermetic
  tests/palace/test_setup_mesh_fields.py
Due: ty

chore(meep): re-execute meep_2d_xz_gc and meep_ybranch notebooks
  nbs/meep_2d_xz_gc.ipynb
  nbs/meep_2d_xz_gc.py
  nbs/meep_ybranch.ipynb
  nbs/meep_ybranch.py
Due: nbclean, ty

docs(meep): add 2D grating-coupler wavelength-sweep notebook
  docs/zensical.toml
  nbs/meep_2d_xz_gc_wavelength_sweep.ipynb
  nbs/meep_2d_xz_gc_wavelength_sweep.py
Due: nbclean, ty

Path conditions:
  nbclean: any of: \.(ipynb)$
  ty: any of: \.(py)$
