Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

fix(palace): correct numerical solver exports
  src/gsim/palace/models/numerical.py
  tests/palace/test_numerical_config.py
Due: ty

fix(palace): validate problem targets and fallback configs
  src/gsim/palace/base.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/problems.py
  tests/palace/test_problem_defaults.py
  tests/palace/test_workflow.py
Due: ty

fix(palace): export valid transient solver settings
  src/gsim/palace/models/problems.py
  tests/palace/test_transient_config.py
Due: ty

test(palace): update generated preconditioner expectations
  tests/palace/test_workflow.py
Due: ty

fix: support pdk-schema 0.2 analytic material cards
  docs/materials.md
  pyproject.toml
  src/gsim/common/materials/snapshots.py
  tests/common/materials/test_analytic_snapshots.py
Due: ty

feat(palace): expose wave-port boundary policy
  docs/api/palace.md
  src/gsim/palace/driven.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/models/problems.py
  tests/palace/test_waveport_pec.py
Due: ty

fix: load Palace eigenmode fields and zero transmission
  docs/api/palace.md
  src/gsim/palace/results.py
  tests/palace/test_eigenmode_fields.py
  tests/palace/test_sparams_numeric.py
Due: ty

fix: derive Floquet phase from the actual mesh period
  docs/api/palace.md
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/floquet.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/models/problems.py
  tests/palace/test_floquet_config.py
  tests/palace/test_sim_classes.py
  tests/palace/test_workflow.py
Due: ty

feat: add evidence-based Palace solution validation
  docs/api/palace.md
  docs/palace-validation.md
  src/gsim/palace/_validation_log.py
  src/gsim/palace/_validation_models.py
  src/gsim/palace/validation.py
  tests/palace/fixtures/validation/README.md
  tests/palace/fixtures/validation/adaptive-core-failure.txt
  tests/palace/fixtures/validation/disabled-estimator.txt
  tests/palace/fixtures/validation/offline-disabled-estimator.txt
  tests/palace/test_solution_validation.py
Due: ty

fix: read Palace validation logs as UTF-8
  docs/palace-validation.md
  tests/palace/test_solution_validation.py
Due: ty

fix: narrow periodic axes without a redundant cast
  src/gsim/palace/mesh/floquet.py
Due: ty

feat: add validated transmission-line analysis and TRL
  docs/api/palace.md
  docs/transmission_line_analysis.md
  pyproject.toml
  src/gsim/palace/transmission/__init__.py
  src/gsim/palace/transmission/_validation.py
  src/gsim/palace/transmission/calibration.py
  src/gsim/palace/transmission/propagation.py
  tests/palace/test_transmission_optional.py
  tests/palace/transmission/__init__.py
  tests/palace/transmission/conftest.py
  tests/palace/transmission/test_calibration.py
  tests/palace/transmission/test_propagation.py
Due: ty

test: skip RF fixtures when the extra is unavailable
  tests/palace/test_transmission_optional.py
  tests/palace/transmission/conftest.py
Due: ty

fix(notebooks): handle single-frequency Palace results
  nbs/palace_cpw_fields.ipynb
Due: nbclean

fix(palace): align field saves with frequency samples
  src/gsim/palace/models/problems.py
  tests/palace/test_driven_config.py
  tests/palace/test_driven_field_saving.py
Due: ty

fix(palace): explain failed local Palace runs, including a missing mpirun
  src/gsim/palace/base.py
  tests/palace/test_run_local.py
Due: ty

fix(ci): install qpdk 0.4.0 for the QPDK resonator docs notebook
  .github/workflows/docs.yml
Due: none

docs: set an eigenmode target in the QPDK two-qubit meshing notebook
  nbs/_palace_qpdk_filled_qubit_test_chip_mesh.ipynb
Due: nbclean

docs(palace): use scikit-rf directly for line calibration
  docs/api/palace.md
  docs/transmission_line_analysis.md
  docs/zensical.toml
  pyproject.toml
  src/gsim/palace/transmission/__init__.py
  src/gsim/palace/transmission/_validation.py
  src/gsim/palace/transmission/calibration.py
  src/gsim/palace/transmission/propagation.py
  tests/palace/test_transmission_guide.py
  tests/palace/test_transmission_optional.py
  tests/palace/transmission/__init__.py
  tests/palace/transmission/conftest.py
  tests/palace/transmission/test_calibration.py
  tests/palace/transmission/test_propagation.py
Due: ty

chore: update default code owners
  .github/CODEOWNERS
Due: none

fix(mesh): ignore the user's Gmsh options file
  src/gsim/fdtd/mesh.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/validation.py
  tests/palace/test_gmsh_user_options.py
  tests/palace/test_mesh_hash.py
Due: ty

fix(docs): exclude slow transmon notebook from docs CI
  .github/workflows/docs.yml
  docs/zensical.toml
  tests/test_list_docs_notebooks.py
Due: ty

test: let the fake Gmsh accept initialize() keyword arguments
  tests/palace/test_curved_meshing_pipeline.py
Due: ty

refactor(palace): group solver settings with deprecated aliases
  docs/api/palace.md
  nbs/_palace_dc.ipynb
  nbs/_palace_straight_diel_waveguide.ipynb
  nbs/palace_2d_twmzm.ipynb
  nbs/palace_electrostatic.ipynb
  nbs/palace_transmon.ipynb
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/boundarymode.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/solver.py
  src/gsim/palace/solver_settings.py
  tests/palace/test_solver_settings.py
  tests/palace/test_workflow.py
Due: nbclean, ty

fix(palace): preserve serialized solver inputs for cache compatibility
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/solver.py
  tests/palace/test_solver_settings.py
Due: ty

fix(palace): preserve types for deprecated problem attributes
  src/gsim/palace/boundarymode.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
Due: ty

fix(palace): retain problem settings references during common updates
  src/gsim/palace/solver_settings.py
  tests/palace/test_solver_settings.py
Due: ty

ci: limit docs notebook execution to 30 minutes
  .github/workflows/docs.yml
Due: none

docs(palace): add measured L6n2 validation notebook
  nbs/palace_l6n2.ipynb
Due: nbclean

feat(palace): symmetry planes for half-model driven and eigenmode simulations
  src/gsim/palace/SYMMETRY.md
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/boundarymode.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/symmetry.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/models/__init__.py
  src/gsim/palace/models/symmetry.py
  tests/palace/test_curved_meshing_pipeline.py
  tests/palace/test_mesh_domain_bounds.py
  tests/palace/test_symmetry_config.py
  tests/palace/test_symmetry_helpers.py
  tests/palace/test_symmetry_mesh.py
  tests/palace/test_symmetry_model.py
Due: ty

feat(palace): combine PMC and PEC half models into mixed-mode results
  src/gsim/palace/SYMMETRY.md
  src/gsim/palace/results.py
  src/gsim/palace/symmetry.py
  tests/palace/test_symmetry_post.py
Due: ty

fix(palace): clarify result reader validation errors
  docs/api/palace.md
  src/gsim/palace/results.py
  tests/palace/test_sparams_numeric.py
Due: ty

test(palace): cover waveport boundary policy end to end
  docs/api/palace.md
  tests/palace/test_mesh_regression.py
  tests/palace/test_waveport_pec.py
Due: ty

fix(palace): use exact Floquet face separation and warn on legacy input
  docs/api/palace.md
  nbs/_palace_mzm.ipynb
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/gmsh_utils.py
  tests/palace/test_sim_classes.py
  tests/palace/test_workflow.py
Due: nbclean, ty

fix(palace): preserve validation reports for unreadable inputs
  docs/api/palace.md
  docs/palace-validation.md
  docs/zensical.toml
  src/gsim/palace/validation.py
  tests/palace/test_solution_validation.py
Due: ty

fix(palace): clarify solver migration and preserve legacy copies
  docs/api/palace.md
  nbs/palace_electrostatic.ipynb
  src/gsim/palace/electrostatic.py
  src/gsim/palace/models/numerical.py
  src/gsim/palace/models/solver.py
  src/gsim/palace/solver_settings.py
  tests/palace/test_solver_compatibility.py
  tests/palace/test_solver_compatibility/driven.txt
  tests/palace/test_solver_compatibility/eigenmode.txt
  tests/palace/test_solver_compatibility/electrostatic.txt
  tests/palace/test_solver_settings.py
  tests/palace/test_solver_warnings.py
Due: nbclean, ty

test(palace): preserve native line endings in config baselines
  tests/palace/test_solver_compatibility.py
Due: ty

test(palace): allow startup diagnostics in warning checks
  tests/palace/test_solver_warnings.py
Due: ty

fix(palace): check symmetry per layer and datatype, including one-sided layers
  src/gsim/palace/SYMMETRY.md
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/symmetry.py
  tests/palace/test_symmetry_helpers.py
  tests/palace/test_symmetry_mesh.py
Due: ty
