Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

feat(meep-runner): inline XZ cross-section cutter and geometry path
  src/gsim/meep/script.py
Due: ty

feat(meep-runner): add Gaussian-beam fiber source path
  src/gsim/meep/script.py
Due: ty

feat(meep-viz): support plot_2d(slices='y') for XZ preview
  src/gsim/meep/simulation.py
  tests/meep/test_viz_xz.py
Due: ty

test(meep): add XZ 2D build + cloud integration test
  tests/meep/test_xz_2d.py
Due: ty

fix(meep-viz): show port monitors and fiber source in XZ overlay
  src/gsim/common/viz/render2d.py
  src/gsim/meep/overlay.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: ty

refactor(meep): forbid unknown kwargs on user-facing models
  src/gsim/meep/models/api.py
  src/gsim/meep/simulation.py
Due: ty

fix: replace Unicode arrow (→) with ASCII (->) for Windows compatibility
  src/gsim/common/polygon_utils.py
  src/gsim/common/viz/render2d.py
  src/gsim/gcloud.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/palace/PORTS.md
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/mesh/groups.py
  src/gsim/palace/ports/config.py
  src/gsim/palace/results.py
  src/gsim/viz.py
  tests/meep/test_ports.py
  tests/meep/test_simulation.py
  tests/meep/test_viz_xz.py
  tests/palace/test_results.py
  tests/test_gcloud_start.py
Due: ty

Relax gdsfactory version pin to allow newer minor versions
  pyproject.toml
Due: none

ci: add Windows and macOS to test matrix
  .github/workflows/test.yml
Due: none

fix: force utf-8 on write_text so Windows cp1252 doesn't break output
  src/gsim/common/stack/extractor.py
  src/gsim/meep/models/config.py
  src/gsim/meep/simulation.py
Due: ty

refactor: tighten mesh_config.json schema and lift port normals upstream
  src/gsim/common/mesh/generator.py
  src/gsim/meep/mesh_config.py
  tests/meep/test_mesh_sim.py
Due: ty

chore(nbs): add single-clad mesh notebook and re-run split-clad
  nbs/mesh_ybranch_single_clad.ipynb
Due: nbclean

Added test notebook with mzm and IHP
  nbs/_palace_mach_zehnder.ipynb
  nbs/palace_mzm_ihp.ipynb
Due: nbclean

Changed parameterization of mzm geometry
  nbs/_palace_mach_zehnder.ipynb
Due: nbclean

test: add cloud simulation fixtures and gate behind `cloud` marker
  .github/workflows/cloud-test.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/_cloud_fixtures.py
  tests/meep/test_cloud_2d_xz_gc.py
  tests/meep/test_cloud_2d_xz_gc/test_2d_xz_gc.npz
  tests/meep/test_cloud_sbend.py
  tests/meep/test_cloud_sbend/test_sbend.npz
  tests/palace/test_cloud_driven_lumped.py
  tests/palace/test_cloud_driven_lumped/test_driven_cpw_lumped.npz
  tests/palace/test_cloud_driven_waveport.py
  tests/palace/test_cloud_driven_waveport/test_driven_cpw_waveport.npz
  tests/palace/test_cloud_eigenmode_cavity.py
  tests/palace/test_cloud_eigenmode_cavity/test_eigenmode_cavity.npz
Due: ty

fix: use correct GFP_API_KEY env var name in cloud-test workflow
  .github/workflows/cloud-test.yml
Due: none

fix: loosen palace driven test tolerance to 1e-4 for cross-platform FEM reproducibility
  tests/palace/test_cloud_driven_lumped.py
  tests/palace/test_cloud_driven_waveport.py
Due: ty

set_periodic_mesh now discovers opposite boundary fragments
  src/gsim/palace/mesh/gmsh_utils.py
Due: ty

added periodic direction kwarg to generate_mesh
  src/gsim/palace/mesh/generator.py
Due: ty

added kwargs so periodic_axis can be called from sim.mesh()
  src/gsim/palace/base.py
  src/gsim/palace/mesh/generator.py
Due: ty

tested example of periodic mesh
  nbs/palace_mzm.ipynb
  src/gsim/palace/mesh/gmsh_utils.py
Due: nbclean, ty

fix: align yamlfmt and pytest-regressions YAML sequence formatting
  .github/.yamlfmt.yaml
  .github/.yamllint.yaml
  tests/palace/test_mesh_regression/test_branch_line_coupler_mesh.yml
  tests/palace/test_mesh_regression/test_cpw_via_transition_mesh.yml
  tests/palace/test_mesh_regression/test_cpw_waveport_mesh.yml
  tests/palace/test_mesh_regression/test_microstrip_mesh.yml
Due: none

style: apply yamlfmt to all YAML files
  .github/.markdownlint-cli2.yaml
  .github/release-drafter.yml
  .github/workflows/cloud-test.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  mkdocs.yml
Due: none

added periodic-mesh floquet-eigenvalue solver option
  nbs/palace_mzm.ipynb
  src/gsim/palace/eigenmode.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/models/problems.py
  tests/palace/test_sim_classes.py
  tests/palace/test_workflow.py
Due: nbclean, ty

Fixed airbox margins to exclude stack dielectrics
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_mzm.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/groups.py
  src/gsim/viz.py
  tests/palace/test_mesh.py
  tests/palace/test_sim_classes.py
Due: nbclean, ty

finer mesh
  nbs/palace_mzm.ipynb
Due: nbclean

Cleanup of old layers
  nbs/palace_mzm.ipynb
Due: nbclean

removed repeated surfaces periodic from the meshing pipeline
  nbs/palace_mzm.ipynb
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/gmsh_utils.py
Due: nbclean, ty

changed mesh parameters
  nbs/palace_mzm.ipynb
Due: nbclean

Deleted old mzm notebook
  nbs/_palace_mach_zehnder.ipynb
Due: nbclean

palace: split reactive port params into LumpedElement
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/ports/config.py
  tests/palace/test_workflow.py
Due: ty

use passive LumpedPort (Active: false)
  src/gsim/palace/mesh/config_generator.py
  tests/palace/test_workflow.py
Due: ty

renamed component and transmon notebook
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/_palace_qpdk_transmon.ipynb
Due: nbclean

added mesh validation routine that checks if lumped ports are rectangular
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/_palace_qpdk_transmon.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/models/results.py
  tests/palace/test_mesh.py
  tests/palace/test_workflow.py
Due: nbclean, ty

Fixed outdated qpdk imports
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/_palace_qpdk_transmon.ipynb
Due: nbclean

added spline fitting, high-order meshing and visualization
  nbs/palace_dc.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/mesh/generator.py
  src/gsim/palace/mesh/geometry.py
  src/gsim/palace/mesh/gmsh_utils.py
  src/gsim/palace/models/mesh.py
  src/gsim/viz.py
  tests/palace/test_mesh.py
  tests/test_viz_mesh.py
Due: nbclean, ty

docs: use explicit get_stack() from PDK in Palace notebooks
  nbs/_palace_cpw.ipynb
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_via.ipynb
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_microstrip.ipynb
  nbs/palace_width_sweep.ipynb
Due: nbclean

Add jupytext sync to keep .py percent-script mirrors of notebooks
  .gitignore
  .pre-commit-config.yaml
  nbs/_example.py
  nbs/_meep_api_styles.py
  nbs/_meep_sbend.py
  nbs/_meep_straight.py
  nbs/_palace_cpw.py
  nbs/_palace_mach_zehnder.py
  nbs/_palace_qpdk_eigenmode.py
  nbs/_palace_qpdk_qubit_resonator.py
  nbs/meep_2d.ipynb
  nbs/meep_2d.py
  nbs/meep_2d_xz_gc.ipynb
  nbs/meep_2d_xz_gc.py
  nbs/meep_crossing.ipynb
  nbs/meep_crossing.py
  nbs/meep_dc.py
  nbs/meep_ring_coupler.py
  nbs/meep_ybranch.py
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_branch_line_coupler.py
  nbs/palace_cpw_fields.py
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_lumped.py
  nbs/palace_cpw_via.ipynb
  nbs/palace_cpw_via.py
  nbs/palace_cpw_waveport.py
  nbs/palace_microstrip.ipynb
  nbs/palace_microstrip.py
  nbs/palace_qpdk_resonator.py
  nbs/palace_width_sweep.ipynb
  nbs/palace_width_sweep.py
  pyproject.toml
Due: nbclean, ty

fix(nbs): make notebooks pass ruff, ty, jupytext, and interrogate
  .pre-commit-config.yaml
  nbs/_meep_api_styles.ipynb
  nbs/_meep_api_styles.py
  nbs/_meep_sbend.ipynb
  nbs/_meep_sbend.py
  nbs/_meep_straight.ipynb
  nbs/_meep_straight.py
  nbs/_palace_cpw.ipynb
  nbs/_palace_cpw.py
  nbs/_palace_mach_zehnder.ipynb
  nbs/_palace_mach_zehnder.py
  nbs/palace_branch_line_coupler.ipynb
  nbs/palace_branch_line_coupler.py
  nbs/palace_cpw_fields.ipynb
  nbs/palace_cpw_fields.py
  nbs/palace_cpw_via.ipynb
  nbs/palace_cpw_via.py
  nbs/palace_microstrip.ipynb
  nbs/palace_microstrip.py
  nbs/palace_width_sweep.ipynb
  nbs/palace_width_sweep.py
  pyproject.toml
  src/gsim/palace/driven.py
  src/gsim/palace/eigenmode.py
Due: nbclean, ty

renamed files
  nbs/_palace_dc.ipynb
  nbs/_palace_straight_diel_waveguide.ipynb
  nbs/palace_dc.ipynb
Due: nbclean
