Repository gdsfactory/gsim: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "tests/custom"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff-check
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--skip="*.ipynb"]
        additional_dependencies:
          - tomli
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        types_or: [javascript, css, json, html]
  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run --no-sync ty check
        language: system
        files: \.(py)$
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.14
    hooks:
      - id: tombi-format
      - id: tombi-lint
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-conf, ".github/.yamlfmt.yaml"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, "-c=.github/.yamllint.yaml"]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        args: [--config, .github/.markdownlint-cli2.yaml]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--wrap=120]
        exclude: 'docs/nbs/example\.md'
        additional_dependencies:
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-tables
          - mdformat-frontmatter
          - mdformat-footnote
  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        args: [--config=pyproject.toml]
        pass_filenames: true

fix: add nest_asyncio2 dep for PyVista trame in VS Code notebooks
  .gitignore
  pyproject.toml
  uv.lock
Due: none

feat: add inline Three.js mesh viewer (plot_mesh_threejs)
  nbs/mesh_viewer.ipynb
  pyproject.toml
  src/gsim/common/viz/__init__.py
  src/gsim/common/viz/render3d_threejs.py
  src/gsim/viz.py
Due: nbclean, ty

fix: exclude uv.lock from tombi-format pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: add nbformat dependency for plotly notebook rendering
  pyproject.toml
Due: none

chore: update uv.lock
  uv.lock
Due: none

update notebook
  nbs/meep_grating_coupler.ipynb
Due: nbclean

feat: add FiberSource for grating coupler simulation
  nbs/meep_grating_coupler.ipynb
  pyproject.toml
  src/gsim/meep/ROADMAP.md
  src/gsim/meep/__init__.py
  src/gsim/meep/models/__init__.py
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

fix: resolve pre-commit issues for fiber source PR
  src/gsim/meep/ROADMAP.md
  src/gsim/meep/models/config.py
  tests/meep/test_simulation.py
Due: ty

feat: add animation plane selection, fiber source overlay, and show_animation helper
  nbs/meep_grating_coupler.ipynb
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: nbclean, ty

feat: render fiber source overlay in 2D cross-section plots
  src/gsim/common/viz/render2d.py
Due: ty

refactor: switch FiberSource to reciprocal eigenmode method
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/models/results.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
Due: ty

improved interpolation and field visualization
  nbs/palace_cpw_fields.ipynb
  src/gsim/palace/base.py
  src/gsim/viz.py
Due: nbclean, ty

Small fix on cpw notebook
  nbs/palace_cpw.ipynb
Due: nbclean

test: remove redundant tests, add workflow integration tests
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
  tests/meep/test_workflow.py
  tests/palace/test_mesh.py
  tests/palace/test_workflow.py
  tests/test_gsim.py
Due: ty

fix(stack): respect PDK layer_type metadata in extract_layer_stack
  src/gsim/common/stack/extractor.py
Due: ty

PEC via testing
  src/gsim/palace/mesh/geometry.py
Due: ty

fixed CI
  src/gsim/palace/eigenmode.py
  src/gsim/palace/electrostatic.py
Due: ty

palace: split reactive port params into LumpedElement
  src/gsim/palace/mesh/config_generator.py
  src/gsim/palace/ports/config.py
  tests/palace/test_workflow.py
Due: ty

renamed component and transmon notebook
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/_palace_qpdk_transmon.ipynb
Due: nbclean

added mesh validation routine that checks if lumped ports are rectangular
  nbs/_palace_qpdk_qubit_resonator.ipynb
  nbs/_palace_qpdk_transmon.ipynb
  src/gsim/palace/base.py
  src/gsim/palace/mesh/validation.py
  src/gsim/palace/models/results.py
  tests/palace/test_mesh.py
  tests/palace/test_workflow.py
Due: nbclean, ty

refactor(palace): consolidate MeshConfig/MeshResult, drop pipeline.py
  src/gsim/palace/__init__.py
  src/gsim/palace/base.py
  src/gsim/palace/mesh/__init__.py
  src/gsim/palace/mesh/pipeline.py
Due: ty

update docs
  nbs/palace_cpw_lumped.ipynb
  nbs/palace_cpw_via.ipynb
  nbs/palace_cpw_waveport.ipynb
  nbs/palace_microstrip.ipynb
Due: nbclean

fix(meep): log z_crop application instead of silently rewriting layers
  src/gsim/meep/simulation.py
Due: ty

feat(meep): add XZ 2D simulation plane for grating couplers
  nbs/meep_grating_coupler.ipynb
  src/gsim/meep/models/api.py
  src/gsim/meep/models/config.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
  tests/meep/test_simulation.py
Due: nbclean, ty

fix(notebook): use slices="y" for XZ cross-section view
  nbs/meep_grating_coupler.ipynb
Due: nbclean

feat(meep): add z-normal port support for vertical grating monitors
  src/gsim/meep/models/config.py
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
Due: ty

fix(meep): show ports on XZ plot, use flux for vertical monitors
  src/gsim/common/viz/render2d.py
  src/gsim/meep/script.py
Due: ty

feat(meep): add per-port width and offset overrides
  nbs/meep_grating_coupler.ipynb
  src/gsim/meep/models/config.py
  src/gsim/meep/overlay.py
  src/gsim/meep/script.py
  src/gsim/meep/simulation.py
Due: nbclean, ty

feat(meep): add monitor-PML validation and interactive 2D plot
  nbs/meep_grating_coupler.ipynb
  src/gsim/meep/simulation.py
  src/gsim/meep/viz.py
Due: nbclean, ty

test(meep): add grating coupler config and spectrum tests
  pyproject.toml
  tests/meep/test_grating_coupler.py
Due: ty

fix(viz): hide vertex dots on interactive 2D plot
  src/gsim/meep/viz.py
Due: ty

fix(viz): rename 'Sim cell' to 'MEEP domain' in interactive plot
  src/gsim/meep/viz.py
Due: ty

fix(meep): place vertical monitor inside PML-free zone
  src/gsim/meep/ports.py
  src/gsim/meep/script.py
  src/gsim/meep/viz.py
  tests/meep/test_grating_coupler.py
Due: ty

fix(meep): use explicit args for plot_2d_interactive, auto-select axis
  src/gsim/meep/simulation.py
Due: ty

fix(viz): proper polygon cross-sections and both plot types in notebooks
  nbs/_meep_2d.ipynb
  nbs/meep_grating_coupler.ipynb
  src/gsim/meep/viz.py
Due: nbclean, ty

fix(viz): correct simulation domain rectangle winding order
  src/gsim/meep/viz.py
Due: ty

feat(meep): add plane, y_cut, FiberSource for XZ 2D mode
  pyproject.toml
  src/gsim/meep/models/api.py
  src/gsim/meep/simulation.py
  tests/meep/test_meep_models.py
Due: ty

feat(meep): wire plane/y_cut/fiber_source through build_config
  src/gsim/meep/simulation.py
  tests/meep/conftest.py
  tests/meep/test_simulation.py
Due: ty

feat(meep-runner): add XZ cell sizing, PML, and background slabs
  src/gsim/meep/script.py
  tests/meep/test_script_template.py
Due: ty
